@charset "UTF-8";
/*
	variables para definir altura para los elementos
	que tienen position: fixed
*/
/*
	variables para definir colores
*/
/*
	variables para definir el color
    de los iconos
*/
/*
	variables para definir bordes
*/
/*
	variables para definir sombras
*/
/*
	formatiamos las margenes y espaciados que definen los
	navegadores por defecto
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

/*
	body
*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*
	tag-a: estilos generales para esta etiqueta
*/
a {
  text-decoration: none;
}

/*
    tag-img y tag-svg: definimos vertical-align: top para remover 
    un espaciado que generan los navegadores en las imagenes y 
    los iconos 
*/
img,
svg {
  vertical-align: top;
}

/*  
    header_component: definimos position: fixed junto con sus 
	propiedades top, left, right y z-index para fijar el menu
	de navegacion en la parte superior
*/
.header_component {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #fff;
  border-bottom: 1px solid #eaecef;
  transition: box-shadow 0.2s;
  /*
  	js_header_scroll: clase añadida con javascript en "./src/js/main.js"
  	definimos una sombra cuando inicia el scroll
  */
  /*
  	header_container: definimos flexbox con su propiedad
         justify-content para generar un espaciado entre
         el logo y el menu y align-items para centrar de manera
         vertical los elementos que este contiene 
  */
}
.header_component.js_header_scroll {
  box-shadow: 0 2px 5px rgba(179, 177, 177, 0.3019607843);
}
.header_component .header_container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 6%;
  /*
      nitlogo_box
  */
  /*
      menu_box: definimos flexbox con su propiedad align-items 
      para centrar de manera vertical los elementos que este contiene 
  */
}
.header_component .header_container .nitlogo_box {
  /*
      tag-a
  */
}
.header_component .header_container .nitlogo_box a {
  /*  
      tag-h4
  */
}
.header_component .header_container .nitlogo_box a h4 {
  color: #5c5b5b;
  font-size: 27px;
  /*
      tag-span
  */
}
.header_component .header_container .nitlogo_box a h4 span {
  color: #f0db4f;
}
.header_component .header_container .menu_box {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  /*
      search_box
  */
  /*  
      tag-li
  */
}
.header_component .header_container .menu_box li.search_box {
  /*
      dispositivos menores a 719px: definimos display: none 
      para ocultar el buscador de la vista en esta medida
  */
  /*
      dispositivos mayores a 720px: definimos flexbox con su 
      propiedad align-items para centrar de manera vertical 
      los elementos que este contiene
  */
}
@media (max-width: 719px) {
  .header_component .header_container .menu_box li.search_box {
    display: none;
  }
}
@media (min-width: 720px) {
  .header_component .header_container .menu_box li.search_box {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    /*
        tag-input: definimos outline: none  para remover el borde que 
        generan los navegadores en los inputs, tambien un espaciado en
        el eje-Y para este elemento, finalmente definimos la propiedad
        display: none para remover este elemento de la vista
    */
    /*
        tag-svg: definimos un margen superior para generar 
        separacion frente a otros elementos 
    */
  }
  .header_component .header_container .menu_box li.search_box input {
    outline: none;
    background-color: transparent;
    color: #5c5b5b;
    border: 1px solid #eaecef;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    height: 35px;
    padding: 0 10px;
    transition: box-shadow 0.2s;
    display: none;
    /*
        js_input_hidden: clase añadida con javascript en "./src/js/main.js"
        modificamos la propiedad display a block para hacer visible este 
        elemento
    */
    /*
        cuando tag-input tiene el foco añadimos una sombra
    */
  }
  .header_component .header_container .menu_box li.search_box input.js_input_hidden {
    display: block;
  }
  .header_component .header_container .menu_box li.search_box input:focus {
    box-shadow: 0 0 8px 0 rgba(179, 177, 177, 0.3019607843);
  }
  .header_component .header_container .menu_box li.search_box svg {
    margin-top: 2px;
  }
}
.header_component .header_container .menu_box li {
  list-style: none;
  cursor: pointer;
  /*  
      tag-li
  */
  /*  
      tag-svg
  */
  /*
      hacemos uso del :pseudo elemento last-child para 
      seleccionar la ultima tag-svg dentro de la tag-li 
      y le definimos propiedades personalizadas
  */
}
.header_component .header_container .menu_box li a {
  /*
      dispositivos menores a 719px: definimos display: none 
      para ocultar el buscador de la vista en esta medida
  */
  /*
      dispositivos mayores a 720px: definimos un padding derecho 
      para generar espaciado en referencia a su contenedor
  */
}
@media (max-width: 719px) {
  .header_component .header_container .menu_box li a {
    display: none;
  }
}
@media (min-width: 720px) {
  .header_component .header_container .menu_box li a {
    color: #c3c3c3;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.1px;
    padding-right: 24px;
    /*
        cuando la tag-a tiene el pseudo elemento :hover modificamos 
        su color
    */
  }
  .header_component .header_container .menu_box li a:hover {
    color: #f0db4f;
  }
}
.header_component .header_container .menu_box li svg {
  fill: #c3c3c3;
  width: 24px;
  height: 24px;
}
.header_component .header_container .menu_box li:last-child svg {
  fill: #f0db4f;
  width: 36px;
  height: 36px;
}

/*  
    components_container
*/
.components_container {
  /* 
        nav_component: definimos position: fixed junto con sus propiedades 
  top, left y z-index para fijar el menu de navegacion y
  posicionarlo en la parte izquierda de la pantalla, con
  hight: 100vh hacemos que este elemento tome todo el alto de la 
  pantalla y finalmente definimos un espaciado en el eje-X y con 
  overflow: auto generamos un scroll en el eje-Y para cuando la altura 
  de la pantalla sea menor a la altura del menu de navegacion
    */
  /* 
        main_components: definimos position alsolute junto con su 
  propiedad top para posicionar este elemento, tambien definimos 
        una altura minima calculada para que tome todo el alto de la 
        patalla. Finalmente, definimos un espaciado en el eje-X para este elemento
    */
}
.components_container .nav_component {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 8;
  border-right: 1px solid #eaecef;
  width: 260px;
  height: 100vh;
  padding: 0 18px;
  overflow: auto;
  /*
  	::-webkit-scrollbar: definimos un ancho del
  	scrollbar
  */
  /*
  	::-webkit-scrollbar-thumb
  */
  /*
  	dispositivos menores a 719px: definimos transform: translateX() 
  	para desplazar el menu de navegacion ocultandolo de la vista
  */
  /*
  	dispositivos mayores a 720px
  */
  /*
  	nav_menu: definimos un espaciado personalizado en el eje-Y para este elemento 
  	el espaciado inferior permite solucionar un error que se presenta 
  	impidiendo que el ultimo item del menu se vea correctamente
  */
}
.components_container .nav_component::-webkit-scrollbar {
  width: 6px;
}
.components_container .nav_component::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
@media (max-width: 719px) {
  .components_container .nav_component {
    background-color: #fff;
    transform: translateX(-1000px);
    transition: transform 0.3s;
    /*
    	js_show_navbar: clase añadida con javascript en "./src/js/main.js"
    	definimos transform: translateX(0px) para retornanr el menu de 
    	navegacion en su posicion original haciendolo nuevamente visible
    */
  }
  .components_container .nav_component.js_show_navbar {
    transform: translateX(0px);
  }
}
@media (min-width: 720px) {
  .components_container .nav_component {
    /*
    	js_show_navbar: clase añadida con javascript en "./src/js/main.js"
    	definimos transform: translateX() para desplazar el menu de 
                 navegacion ocultandolo de la vista
    */
    /*
    	cuando nav_component tiene esta clase seleccionamos a main_component 
                 y modificamos su ancho
    */
  }
  .components_container .nav_component.js_show_navbar {
    transform: translateX(-1000px);
  }
  .components_container .nav_component.js_show_navbar ~ .main_components {
    width: 100%;
  }
}
.components_container .nav_component .nav_menu {
  padding: 30px 0 70px;
  /*
  	li_dropdown: definimos un margen en la parte inferior de este 
  	elemento
  */
}
.components_container .nav_component .nav_menu .li_dropdown {
  list-style: none;
  margin-bottom: 18px;
  /*
      cuando hacemos :hover sobre la tag-li, seleccionamos a 
      tag-a y modificamos el color de este elemento
  */
  /*
      cuando hacemos :hover sobre la tag-li, seleccionamos a 
      tag-svg y modificamos el color de este elemento
  */
  /*
  	cuando li_dropdown tiene la clase js_show_dropdown_menu
  	seleccionamos a dropdown_menu y definimos display block
  	y una altura para hacer visible los elementos que este
  	contiene
  */
  /*
  	cuando li_dropdown tiene la clase js_show_dropdown_menu
  	seleccionamos a la tag-svg que se encuentra dentro de la
  	tag-a y definimos una rotacion de 180 grados
  */
  /*
  	tag-a: definimos flexbox con su propiedad
  	justify-content para generar un espaciado entre
  	el enlace y el icono y align-items para centrar de manera
  	vertical los elementos que este contiene 
  */
  /*
  	dropdown_menu: definimos un max-height: 0 para
  	reducir la altura de este elemento luego
  	con la propiedad overflow: hidden ocultamos 
  	los valores que sobresalen del elemento,
  	finalmente definimos un espaciado en el eje-Y 
  	para este elemento
  */
}
.components_container .nav_component .nav_menu .li_dropdown:hover > a {
  color: #f0db4f;
}
.components_container .nav_component .nav_menu .li_dropdown:hover svg {
  fill: #f0db4f;
}
.components_container .nav_component .nav_menu .li_dropdown.js_show_dropdown_menu .dropdown_menu {
  display: block;
  max-height: 999px;
}
.components_container .nav_component .nav_menu .li_dropdown.js_show_dropdown_menu a svg {
  transform: rotate(180deg);
}
.components_container .nav_component .nav_menu .li_dropdown a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5c5b5b;
  font-size: 1.1rem;
  font-weight: 600;
  /*
  	tag-svg
  */
}
.components_container .nav_component .nav_menu .li_dropdown a.js_active_link {
  color: #f0db4f;
}
.components_container .nav_component .nav_menu .li_dropdown a.js_active_link svg {
  fill: #f0db4f;
}
.components_container .nav_component .nav_menu .li_dropdown a svg {
  fill: #5c5b5b;
  width: 12px;
  height: 12px;
  transition: transform 0.3s;
}
.components_container .nav_component .nav_menu .li_dropdown .dropdown_menu {
  max-height: 0;
  overflow: hidden;
  padding: 0 13px;
  /*
  	tag-li: definimos un espaciado en el eje-Y para este elemento
  */
}
.components_container .nav_component .nav_menu .li_dropdown .dropdown_menu li {
  list-style: none;
  padding: 10px 0;
  /*
  	tag-a
  */
}
.components_container .nav_component .nav_menu .li_dropdown .dropdown_menu li a {
  font-size: 1rem;
  /*
  	cuando hacemos :hover sobre la tag-a modificamos
  	el color de este elemento
  */
}
.components_container .nav_component .nav_menu .li_dropdown .dropdown_menu li a:hover {
  color: #f0db4f;
}
.components_container .main_components {
  position: absolute;
  top: 60px;
  color: #5c5b5b;
  min-height: calc(100% - 60px);
  padding: 0 6%;
  /*
  	dispositivos mayores a 720px: definimos right: 0 para
  	posicionar este elemento a la parte derecha de la
  	pantalla para que le deje el espacio al menu de navegacion, 
  	tambien definimos un ancho calculado y a 100% y le 
  	restamos el ancho del menu de navegacion
  */
  /*
  	dispositivos menores a 719px: definimos left: 0 para
  	posicionar este elemento a la parte izquierda de la
  	pantalla para que tome el espacio dejado por el 
  	menu de navegacion, finalmente modificamos el ancho a
  	100% para que tome el ancho total de la pantalla 
  */
  /*
  	banner_component: definimos un margen personalizado en el eje-Y 
            para generar separacion frente a otros elementos
  */
  /*
  	description_component
  */
  /*
  	section_banner  
  */
  /*
  	sections_container
  */
  /*
  	section_footer: definimos un margen inferior para
  	generar separacion frente a otros elementos
  */
}
@media (min-width: 720px) {
  .components_container .main_components {
    right: 0;
    width: calc(100% - 260px);
  }
}
@media (max-width: 719px) {
  .components_container .main_components {
    left: 0;
    width: 100%;
  }
}
.components_container .main_components .banner_component {
  text-align: center;
  font-size: 3rem;
  margin: 30px 0 40px;
  /*
  	dispositivos menores a 1200px: modificamos el tamaño de
  	fuente y el margen del eje-Y de este elemento
  */
  /*
  	dispositivos menores a 952px: modificamos el tamaño de
  	fuente de este elemento
  */
  /*
  	dispositivos menores a 788px: modificamos el tamaño de
  	fuente de este elemento
  */
  /*
  	dispositivos menores a 418px: modificamos el tamaño de
  	fuente de este elemento
  */
  /*
  	tag-h1
  */
}
@media (max-width: 1200px) {
  .components_container .main_components .banner_component {
    font-size: 2.6rem;
    margin: 30px 0;
  }
}
@media (max-width: 952px) {
  .components_container .main_components .banner_component {
    font-size: 1.9rem;
  }
}
@media (max-width: 788px) {
  .components_container .main_components .banner_component {
    font-size: 1.6rem;
  }
}
@media (max-width: 418px) {
  .components_container .main_components .banner_component {
    font-size: 1.1rem;
  }
}
.components_container .main_components .banner_component h1 {
  color: #5c5b5b;
  /*
  	tag-span
  */
}
.components_container .main_components .banner_component h1 span {
  color: #f0db4f;
}
.components_container .main_components .description_component {
  /*
  	description_paragraph: definimos una separacion de lineas y un margen
  	inferior en este elemento
  */
}
.components_container .main_components .description_component .description_paragraph {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
  /*
  	tag-strong
  */
}
.components_container .main_components .description_component .description_paragraph strong {
  color: #f0db4f;
}
.components_container .main_components .section_banner {
  /*
  	tag-h2: definimos un margen en la parte superior de
  	este elemento
  */
  /*
  	line_titles
  */
  /*
  	tag-p: definimos una separacion de lineas y un margen 
  	en el eje-Y para este elemento
  */
}
.components_container .main_components .section_banner h2 {
  font-size: 2.8rem;
  margin-top: 30px;
  /*
  	dispositivos menores a 381px: modificamos el tamaño de
  	fuente para este elemento
  */
  /*
  	dispositivos menores a 333px: modificamos el tamaño de
  	fuente para este elemento
  */
}
@media (max-width: 381px) {
  .components_container .main_components .section_banner h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 333px) {
  .components_container .main_components .section_banner h2 {
    font-size: 2.1rem;
  }
}
.components_container .main_components .section_banner .line_titles {
  border: 1px solid #f0db4f;
  width: 100px;
  box-shadow: 0 0 8px 0 #f0db4f;
}
.components_container .main_components .section_banner p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  margin: 30px 0 80px;
  /*
  	tag-strong
  */
}
.components_container .main_components .section_banner p strong {
  color: #f0db4f;
  text-shadow: 0 0 18px rgba(240, 218, 79, 0.7019607843);
}
.components_container .main_components .sections_container {
  /*
  	sect_content
  */
}
.components_container .main_components .sections_container .sect_content {
  /*
  	tag-h3
  */
  /*
      tag-p: definimos un margen personalizado en el eje-y 
      para generar sepracion frente a otros elementos
  */
  /*
  	sect_box_img: definimos un margen en la parte inferior
  	de este elemento
  */
}
.components_container .main_components .sections_container .sect_content h3 {
  font-size: 2rem;
  line-height: 1.2;
  /*
  	dispositivos menores a 336px: modificamos el tamaño de
  	fuente de este elemento
  */
}
@media (max-width: 336px) {
  .components_container .main_components .sections_container .sect_content h3 {
    font-size: 1.7rem;
  }
}
.components_container .main_components .sections_container .sect_content p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0 30px;
  /*
  	tag-strong
  */
}
.components_container .main_components .sections_container .sect_content p strong {
  color: #f0db4f;
  text-shadow: 0 0 18px rgba(240, 218, 79, 0.7019607843);
}
.components_container .main_components .sections_container .sect_content .code_box {
  background-color: #242936;
  color: white;
  font-size: 17px;
  border-radius: 5px 5px 0 0;
  padding: 28px 0;
  overflow-x: auto;
}
.components_container .main_components .sections_container .sect_content .code_box pre:first-child {
  margin-bottom: 20px;
}
.components_container .main_components .sections_container .sect_content .code_box pre code {
  padding: 0 20px;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border-radius: 50px;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.first_circle {
  background-color: #fc5f55;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.second_circle {
  background-color: #fabd24;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.thirt_circle {
  background-color: #26c83f;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.index {
  display: inline-block;
  margin-bottom: 2px;
  color: #4c525d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.inner_index {
  padding-right: 12px;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.outer_index {
  padding-right: 50px;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.outer_doble_index {
  padding-right: 88px;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.variable {
  color: #986dff;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.operator {
  color: #ff66a1;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.symbols {
  color: #179fff;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.number {
  color: #dfbfff;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.string {
  color: #d5ff80;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.boolean {
  color: #578ac2;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.function {
  color: #84b6f4;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.parameters {
  color: #ecc16a;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.parameters_out {
  color: rgba(236, 193, 106, 0.5215686275);
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.properties,
.components_container .main_components .sections_container .sect_content .code_box pre code span.functions {
  color: #ffad66;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.brackets {
  color: #ffd700;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.console {
  color: rgba(193, 193, 193, 0.6784313725);
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.keyword {
  color: #f783f7;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.square {
  color: goldenrod;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.semi_colon {
  color: #808080;
}
.components_container .main_components .sections_container .sect_content .code_box pre code span.parenthesis {
  color: #84b6f4;
}
.components_container .main_components .sections_container .sect_content .output_box {
  background-color: #1f2430;
  border-top: 1px solid #171b24;
  border-radius: 0 0 5px 5px;
  padding: 16px 20px;
  margin-bottom: 80px;
}
.components_container .main_components .sections_container .sect_content .output_box samp {
  color: #83f8b0;
  font-size: 17px;
  display: block;
  margin-bottom: 4px;
}
.components_container .main_components .sections_container .sect_content .output_box samp.error {
  color: #ff6666;
}
.components_container .main_components .section_footer {
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */