<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>For - In</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Inicia con la declaracion de una variable interna la cual sera la encargada de almacenar posiciones si hablamos de un <strong>array</strong> o claves si hablamos de un
                        <strong>objeto</strong> Valores que son extraidos cada que el ciclo realiza una iteracion, es por ello que despues de <strong>in</strong> viene la definicion del array o el
                        objeto que queremos iterar. Finalmente, dentro de su escope definimos el bloque de codigo a ejecutarse.
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Recorriendo un array</h3>

                        <!--  
							tag-p: en esta definimos el pararfo de la seccion
						-->
                        <p>
                            Una vez definido el <strong>array</strong> lo siguiente es definir el <strong>ciclo</strong> y dentro de su escope realizamos la impresion por consola de la variable
                            <strong>posiciones</strong> Cabe aclarar que este ciclo <strong>no retorna los valores</strong> del array.
                        </p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> precios
                                    <span class="operator">=</span>
                                    <span class="square">[</span><span class="number">1720</span><span class="semi_colon">, </span><span class="number">8500</span><span class="semi_colon">, </span><span class="number">3300</span><span class="semi_colon">, </span><span class="number">5500</span><span class="square">]</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">03</span>
                                    <span class="function">for</span><span class="parenthesis">(</span><span class="variable">const</span> posiciones
                                    <span class="function">in</span> precios<span class="parenthesis">)</span>
                                    <span class="brackets"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">05</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>posiciones<span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">07</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <!--  
                            output_box: en esta definimos la salida en respuesta al codigo
                        -->
                        <div class="output_box">
                            <samp>0</samp>
                            <samp>1</samp>
                            <samp>2</samp>
                            <samp>3</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Recorriendo las claves de un objeto</h3>

                        <p>
                            Una vez definido el <strong>objeto</strong> lo siguiente es definir el <strong>ciclo</strong>
                            Finalmente, dentro de su escope realizamos la impresion por consola de la variable
                            <strong>claves</strong>
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> persona
                                    <span class="operator">=</span>
                                    <span class="square">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span> nombre<span class="operator">:</span><span class="string"> "Marcela"</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">04</span> profesional<span class="operator">:</span><span class="boolean"> true</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">05</span> edad<span class="operator">:</span><span class="number"> 19</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">07</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="function">for</span><span class="parenthesis">(</span><span class="variable">const</span> claves
                                    <span class="function">in</span> persona<span class="parenthesis">)</span>
                                    <span class="brackets"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">10</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">11</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>claves<span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">12</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">13</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>nombre</samp>
                            <samp>profesional</samp>
                            <samp>edad</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Recorriendo los valores de un objeto</h3>

                        <p>
                            Una vez definido el <strong>objeto</strong> lo siguiente es definir el <strong>ciclo</strong> Finalmente, dentro de su escope realizamos la impresion por consola del objeto
                            <strong>persona</strong> al cual pasamos entre llaves cuadradas la variable <strong>claves</strong>
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> persona
                                    <span class="operator">=</span>
                                    <span class="square">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span> nombre<span class="operator">:</span><span class="string"> "Juan"</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">04</span> profesional<span class="operator">:</span><span class="boolean"> false</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">05</span> edad<span class="operator">:</span><span class="number"> 33</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">07</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="function">for</span><span class="parenthesis">(</span><span class="variable">const</span> claves
                                    <span class="function">in</span> persona<span class="parenthesis">)</span>
                                    <span class="brackets"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">10</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">11</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>persona<span class="square">[</span>claves<span class="square">]</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">12</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">13</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>Juan</samp>
                            <samp>false</samp>
                            <samp>33</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Recorriendo un objeto</h3>

                        <p>
                            Una vez definido el <strong>objeto</strong> lo siguiente es definir el <strong>ciclo</strong>
                            Finalmente, dentro de su escope realizamos la impresion por consola de la variable
                            <strong>claves</strong> seguido del objeto <strong>persona</strong> al cual pasamos entre llaves cuadradas la variable <strong>claves</strong>
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> persona
                                    <span class="operator">=</span>
                                    <span class="square">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span> nombre<span class="operator">:</span><span class="string"> "Andrea"</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">04</span> profesional<span class="operator">:</span><span class="boolean"> true</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">05</span> edad<span class="operator">:</span><span class="number"> 50</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">07</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="function">for</span><span class="parenthesis">(</span><span class="variable">const</span> claves
                                    <span class="function">in</span> persona<span class="parenthesis">)</span>
                                    <span class="brackets"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">10</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">11</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">`</span><span class="symbols">${</span>claves<span class="symbols">}</span><span class="operator">:</span>  <span class="symbols">${</span>persona<span class="square">[</span>claves<span class="square">]</span><span class="symbols">}</span><span class="string">`</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">12</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">13</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>nombre: Andrea</samp>
                            <samp>profesional: true</samp>
                            <samp>edad: 50</samp>
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">For - In - Ciclos</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
