<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>For - In</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Inicia con la declaracion de una variable interna la cual sera la encargada de almacenar posiciones si hablamos de un <strong>array</strong> o claves si hablamos de un
                        <strong>objeto</strong> Valores que son extraidos cada que el ciclo realiza una iteracion, es por ello que despues de <strong>in</strong> viene la definicion del array o el
                        objeto que queremos iterar. Finalmente, dentro de su escope definimos el bloque de codigo a ejecutarse.
                    </p>
                </section>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#posiciones-de-un-array">01. Posiciones de un array</a></li>
                                    <li><a href="#claves-de-un-objeto">02. Claves de un objeto</a></li>
                                    <li><a href="#valores-de-un-objeto">03. Valores de un objeto</a></li>
                                    <li><a href="#recorrido-de-un-objeto">04. Recorrido de un objeto</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content" id="posiciones-de-un-array">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Posiciones de un array</h3>

                        <!--  
							tag-p: en esta definimos el pararfo de la seccion
						-->
                        <p>
                            Una vez definido el <strong>array</strong> lo siguiente es definir el <strong>ciclo</strong> y dentro de su escope realizamos la impresion por consola de la variable
                            <strong>posiciones</strong> Cabe aclarar que este ciclo <strong>no retorna los valores</strong> del array.
                        </p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>precios <span class="operator">= </span><span class="square">[</span><span class="number">1720</span><span class="semi_colon">, </span><span class="number">8500</span><span class="semi_colon">, </span><span class="number">3300</span><span class="semi_colon">, </span><span class="number">5500</span><span class="square">]</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="function">for</span><span class="parenthesis">(</span><span class="variable">const </span>posiciones <span class="function">in </span>precios<span class="parenthesis">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>posiciones<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> 0</pre>
                                <pre><span>></span> 1</pre>
                                <pre><span>></span> 2</pre>
                                <pre><span>></span> 3</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="claves-de-un-objeto">
                        <h3>02. Claves de un objeto</h3>

                        <p>
                            Una vez definido el <strong>objeto</strong> lo siguiente es definir el <strong>ciclo</strong>
                            Finalmente, dentro de su escope realizamos la impresion por consola de la variable
                            <strong>claves</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>persona <span class="operator">= </span><span class="square">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span>nombre<span class="operator">: </span><span class="string">"Marcela"</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">04</span>profesional<span class="operator">: </span><span class="boolean">true</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">05</span>edad<span class="operator">: </span><span class="number">19</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="function">for</span><span class="parenthesis">(</span><span class="variable">const </span>claves <span class="function">in </span>persona<span class="parenthesis">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_index">11</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>claves<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> nombre</pre>
                                <pre><span>></span> profesional</pre>
                                <pre><span>></span> edad</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="valores-de-un-objeto">
                        <h3>03. Valores de un objeto</h3>

                        <p>
                            Una vez definido el <strong>objeto</strong> lo siguiente es definir el <strong>ciclo</strong> Finalmente, dentro de su escope realizamos la impresion por consola del objeto
                            <strong>persona</strong> al cual pasamos entre llaves cuadradas la variable <strong>claves</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>persona <span class="operator">= </span><span class="square">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span>nombre<span class="operator">: </span><span class="string">"Juan"</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">04</span>profesional<span class="operator">: </span><span class="boolean">false</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">05</span>edad<span class="operator">: </span><span class="number">33</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="function">for</span><span class="parenthesis">(</span><span class="variable">const </span>valores <span class="function">in </span>persona<span class="parenthesis">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_index">11</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>persona<span class="square">[</span>valores<span class="square">]</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Juan</pre>
                                <pre><span>></span> false</pre>
                                <pre><span>></span> 33</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="recorrido-de-un-objeto">
                        <h3>04. Recorrido de un objeto</h3>

                        <p>
                            Una vez definido el <strong>objeto</strong> lo siguiente es definir el <strong>ciclo</strong>
                            Finalmente, dentro de su escope realizamos la impresion por consola de la variable
                            <strong>claves</strong> seguido del objeto <strong>persona</strong> al cual pasamos entre llaves cuadradas la variable <strong>claves</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>personas <span class="operator">= </span><span class="square">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span>nombre<span class="operator">: </span><span class="string">"Andrea"</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">04</span>profesional<span class="operator">: </span><span class="boolean">true</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">05</span>edad<span class="operator">: </span><span class="number">50</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="function">for</span><span class="parenthesis">(</span><span class="variable">const </span>persona <span class="function">in </span>personas<span class="parenthesis">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_index">11</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">`</span><span class="symbols">${</span>persona<span class="symbols">}</span>: <span class="symbols">${</span>personas<span class="square">[</span>persona<span class="square">]</span><span class="symbols">}</span><span class="string">`</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> nombre: Andrea</pre>
                                <pre><span>></span> profesional: true</pre>
                                <pre><span>></span> edad: 50</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./ciclos-for-of">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./ciclos-forEach">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "For - In - Ciclos") %>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
