<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <div class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>For</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Inicia con la declaracion del <strong>ciclo</strong> al cual le definimos una variable que suele ser utilizada para determinar un punto de partida. Luego viene la condicion que
                        determina cual sera el fin de su ejecucion y seguido a esto la iteracion. Ya dentro del escope, se define la porsion de codigo que se va a ejecutar mientras la condicion se
                        este cumpliendo. Cabe aclarar que este ciclo <strong>no realiza ninguna ejecucion</strong> si la condicion no se cumple.
                    </p>
                </div>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#definicion">01. Definicion</a></li>
                                    <li><a href="#posiciones-de-un-array">02. Posiciones de un array</a></li>
                                    <li><a href="#valores-de-un-array">03. Valores de un array</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content" id="definicion">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Definicion</h3>

                        <!--  
							tag-p: en esta definimos el pararfo de la seccion
						-->
                        <p>
                            Comenzamos con una variable e indicamos que el punto del partida del ciclo iniciara en 10, como condicion expresamos que,
                            <strong>mientras i sea mayor o igual a 3</strong> el <strong>ciclo</strong> va a ejecutarse. A continuacion definimos la iteracion y finalizamos con la impresion por
                            consola de la <strong>variable i</strong>
                        </p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="functions">for<span class="methods">(</span></span><span class="variable">let </span>i <span class="keyword">= </span><span class="numbers">10</span><span class="semi_colon">; </span>i <span class="keyword">>= </span><span class="numbers">6</span><span class="semi_colon">; </span>i<span class="keyword">--</span><span class="methods">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span><span class="console">console</span><span class="methods">.log(</span>i<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> 10</pre>
                                <pre><span>></span> 9</pre>
                                <pre><span>></span> 8</pre>
                                <pre><span>></span> 7</pre>
                                <pre><span>></span> 6</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="posiciones-de-un-array">
                        <h3>02. Posiciones de un array</h3>

                        <p>
                            Una vez definido el <strong>array</strong> lo siguiente es definir el <strong>ciclo</strong> y declarar el punto de partida, la condicion y su iteracion. Finalmente, dentro
                            de su escope realizamos la impresion por consola de la variable <strong>posiciones</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>marcas <span class="keyword">= </span><span class="square">[</span><span class="string">"Nike"</span><span class="semi_colon">, </span><span class="string">"Adidas"</span><span class="semi_colon">, </span><span class="string">"Puma"</span><span class="semi_colon">, </span><span class="string">"Vanz"</span><span class="square">]</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="functions">for<span class="methods">(</span></span><span class="variable">let </span>posiciones <span class="keyword">= </span><span class="numbers">0</span><span class="semi_colon">; </span>posiciones <span class="keyword">< </span>marcas<span class="keyword">.</span><span class="functions">length</span><span class="semi_colon">;</span> posiciones<span class="keyword">++</span><span class="methods">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="console">console</span><span class="methods">.log(</span>posiciones<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> 0</pre>
                                <pre><span>></span> 1</pre>
                                <pre><span>></span> 2</pre>
                                <pre><span>></span> 3</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="valores-de-un-array">
                        <h3>03. Valores de un array</h3>

                        <p>
                            Una vez definido el <strong>array</strong> lo siguiente es definir el <strong>ciclo</strong> y declarar el punto de partida, la condicion y su iteracion. Finalmente, dentro
                            de su escope realizamos la impresion por consola del array <strong>marcas</strong>
                            al cual pasamos entre llaves cuadradas la variable
                            <strong>posiciones</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>marcas <span class="keyword">= </span><span class="square">[</span><span class="string">"Nike"</span><span class="semi_colon">, </span><span class="string">"Adidas"</span><span class="semi_colon">, </span><span class="string">"Puma"</span><span class="semi_colon">, </span><span class="string">"Vanz"</span><span class="square">]</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="functions">for<span class="methods">(</span></span><span class="variable">let </span>posiciones <span class="keyword">= </span><span class="numbers">0</span><span class="semi_colon">; </span>posiciones <span class="keyword">< </span>marcas<span class="keyword">.</span><span class="functions">length</span><span class="semi_colon">;</span> posiciones<span class="keyword">++</span><span class="methods">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="console">console</span><span class="methods">.log(</span>marcas<span class="square">[</span>posiciones<span class="square">]</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Nike</pre>
                                <pre><span>></span> Adidas</pre>
                                <pre><span>></span> Puma</pre>
                                <pre><span>></span> Vanz</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./ciclos-do-while">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./ciclos-for-of">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "For - Ciclos") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
