<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Do - While</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Inicia con la declaracion de una variable externa la cual se suele utilizar para determinar un punto de partida. Luego viene la declaracion del ciclo. Ya dentro del escope se
                        define la porsion de codigo que se va a ejecutar mientras la condicion
                        <strong>se este cumpliendo</strong> y seguido a esto la iteracion para finalizar con la condicion que determina cual sera el fin de su ejecucion. Cabe aclarar que este ciclo
                        como minimo <strong>realiza una ejecucion</strong> aunque la condicion no se cumpla.
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Ejecucion del ciclo</h3>

                        <!--  
							tag-p: en esta definimos el pararfo de la seccion
						-->
                        <p>
                            Definimos una variable e indicamos que el punto del partida del ciclo iniciara en 10, luego definimos que imprima por consola la
                            <strong>variable i</strong> seguido de la iteracion y finalizamos con la condicion en la cual expresamos que,
                            <strong>mientras i sea menor o igual a 20</strong>
                            el <strong>ciclo</strong> va a ejecutarse.
                        </p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> i
                                    <span class="operator">=</span>
                                    <span class="number">10</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">03</span>
                                    <span class="function">do</span>
                                    <span class="brackets"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">05</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>i<span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">07</span>
                                    i<span class="operator">+=</span><span class="number"> 4</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="brackets">}</span>
                                    <span class="function">while</span><span class="parenthesis">(</span>i
                                    <span class="operator"><=</span><span class="number"> 20</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <!--  
                            output_box: en esta definimos la salida en respuesta al codigo
                        -->
                        <div class="output_box">
                            <samp>10</samp>
                            <samp>14</samp>
                            <samp>18</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Recorriendo las posiciones de los valores de un array</h3>

                        <p>
                            Una vez definido el punto de partida y el <strong>array</strong> lo siguiente es definir la parte <strong>do</strong> del ciclo, dentro de su escope realizamos la impresion
                            por consola de la variable <strong>posiciones</strong> y en la linea continua la iteracion. Finalmente definimos la parte <strong>while</strong> del ciclo en la cual
                            definimos la condicion.
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> posiciones
                                    <span class="operator">=</span>
                                    <span class="number">0</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">03</span>
                                    <span class="variable">let</span> dias
                                    <span class="operator">=</span>
                                    <span class="square">[</span><span class="string">"Lunes"</span><span class="semi_colon">,</span><span class="string">"Martes"</span><span class="semi_colon">,</span><span class="string">"Jueves"</span><span class="semi_colon">,</span><span class="string">"Sabado"</span><span class="square">]</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">03</span>
                                    <span class="function">do</span>
                                    <span class="brackets"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">07</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>posiciones<span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">07</span>
                                    posiciones<span class="operator">++</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="brackets">}</span>
                                    <span class="function">while</span><span class="parenthesis">(</span>posiciones
                                    <span class="operator"><</span> dias<span class="operator">.</span><span class="properties">length</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>0</samp>
                            <samp>1</samp>
                            <samp>2</samp>
                            <samp>3</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Recorriendo los valores de un array</h3>

                        <p>
                            Una vez definido el punto de partida y el <strong>array</strong> lo siguiente es definir la parte <strong>do</strong> del ciclo, dentro de su escope realizamos la impresion
                            por consola del array <strong>dias</strong> al cual pasamos entre llaves cuadradas la variable <strong>posiciones</strong> y en la liena continua la iteracion. Finalmente
                            definimos la parte <strong>while</strong> del ciclo en la cual definimos la condicion.
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> posiciones
                                    <span class="operator">=</span>
                                    <span class="number">0</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">03</span>
                                    <span class="variable">let</span> dias
                                    <span class="operator">=</span>
                                    <span class="square">[</span><span class="string">"Lunes"</span><span class="semi_colon">,</span><span class="string">"Martes"</span><span class="semi_colon">,</span><span class="string">"Jueves"</span><span class="semi_colon">,</span><span class="string">"Sabado"</span><span class="square">]</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">03</span>
                                    <span class="function">do</span>
                                    <span class="brackets"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">07</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>dias<span class="square">[</span>posiciones<span class="square">]</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">07</span>
                                    posiciones<span class="operator">++</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="brackets">}</span>
                                    <span class="function">while</span><span class="parenthesis">(</span>posiciones
                                    <span class="operator"><</span> dias<span class="operator">.</span><span class="properties">length</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>Lunes</samp>
                            <samp>Martes</samp>
                            <samp>Jueves</samp>
                            <samp>Sabado</samp>
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Do - While - Ciclos</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
