<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <div class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Herencia</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Nos permite reutilizar propiedades y metodos de un objeto padre y apartir de... crear nuevos objetos, cabe destacar que el objeto que va a heredar debe conectar con un padre
                        por medio de la palabra reservada
                        <strong>extends</strong> seguido del nombre del objeto padre.
                    </p>
                </div>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#clase-padre">01. Clase padre</a></li>
                                    <li><a href="#clase-hija">02. Clase hija</a></li>
                                    <li><a href="#definicion-y-ejecucion">03. Definicion y ejecucion</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="clase-padre">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Clase padre</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="functions">class </span><span class="objects">Fia</span> <span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span>enteRegulador <span class="keyword">= </span><span class="string">"Fia"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="functions">constructor</span><span class="methods">(</span><span class="parameters">escuderias</span><span class="semi_colon">, </span><span class="parameters">directores</span><span class="methods">) </span><span class="keyword">{</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_doble_index">07</span><span class="symbols">this</span><span class="keyword">.</span>escuderia <span class="keyword">= </span><span class="parameters">escuderias</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index outer_doble_index">08</span><span class="symbols">this</span><span class="keyword">.</span>director <span class="keyword">= </span><span class="parameters">directores</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">09</span></code></pre>

                            <pre><code><span class="index outer_index">10</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">11</span></code></pre>

                            <pre><code><span class="index outer_index">12</span><span class="methods">registrarEscuderia() </span><span class="keyword">{</span></code></pre>

                            <pre><code><span class="index">13</span></code></pre>

                            <pre><code><span class="index outer_doble_index">14</span><span class="return">return</span> <span class="string">`La escuderia </span><span class="symbols">${this</span><span class="keyword">.</span>escuderia<span class="symbols">} </span><span class="string">ha sido registrada`</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">15</span></code></pre>

                            <pre><code><span class="index outer_index">16</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">17</span></code></pre>

                            <pre><code><span class="index inner_index">18</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="clase-hija">
                        <h3>02. Clase hija</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">19</span><span class="functions">class </span><span class="objects">Escuderia </span><span class="functions">extends </span><span class="objects">Fia</span> <span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">20</span></code></pre>

                            <pre><code><span class="index outer_index">21</span><span class="functions">constructor</span><span class="methods">(</span><span class="parameters">escuderia</span><span class="semi_colon">, </span><span class="parameters">director</span><span class="semi_colon">, </span><span class="parameters">pilotos</span><span class="methods">) </span><span class="keyword">{</span></code></pre>

                            <pre><code><span class="index">22</span></code></pre>

                            <pre><code><span class="index outer_doble_index">23</span><span class="functions">super</span><span class="methods">(</span><span class="parameters">escuderia</span><span class="semi_colon">, </span><span class="parameters">director</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">24</span></code></pre>

                            <pre><code><span class="index outer_doble_index">25</span><span class="symbols">this</span><span class="keyword">.</span>pilotos <span class="keyword">= </span><span class="parameters">pilotos</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">26</span></code></pre>

                            <pre><code><span class="index outer_index">27</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">28</span></code></pre>

                            <pre><code><span class="index outer_index">29</span><span class="methods">presentarMonoplaza() </span><span class="keyword">{</span></code></pre>

                            <pre><code><span class="index">30</span></code></pre>

                            <pre><code><span class="index outer_doble_index">31</span><span class="return">return</span> <span class="string">`El monoplaza sera presentado por el piloto </span><span class="symbols">${this</span><span class="keyword">.</span>pilotos<span class="square">[</span>0<span class="square">]</span><span class="symbols">}</span><span class="string">`</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">32</span></code></pre>

                            <pre><code><span class="index outer_index">33</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">34</span></code></pre>

                            <pre><code><span class="index inner_index">35</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="definicion-y-ejecucion">
                        <h3>03. Definicion y ejecucion</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">36</span><span class="variable">const </span>escuderia1 <span class="keyword">= </span><span class="return">new </span><span class="objects">Escuderia</span><span class="methods">(</span><span class="string">"RedBull"</span><span class="semi_colon">,</span> <span class="string">"Chris Horner"</span><span class="semi_colon">, </span><span class="square">[</span><span class="string">"Max Verstapen"</span><span class="semi_colon">, </span><span class="string">"Sergio Perez"</span><span class="square">]</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">37</span></code></pre>

                            <pre><code><span class="index inner_index">38</span><span class="console">console</span><span class="methods">.log(</span>escuderia1<span class="keyword">.</span><span class="methods">registrarEscuderia</span><span class="function">()</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">39</span></code></pre>

                            <pre><code><span class="index inner_index">40</span><span class="console">console</span><span class="methods">.log(</span>escuderia1<span class="keyword">.</span><span class="methods">presentarMonoplaza</span><span class="function">()</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> La escuderia RedBull ha sido registrada</pre>
                                <pre><span>></span> El monoplaza sera presentado por el piloto Max Verstapen</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./clases-destructuring">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./clases-metodos">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Herencia - Clases") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
