<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <div class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Manipulacion</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>texto pendiente</p>
                </div>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#definicion-de-la-clase">01. Definicion de la clase</a></li>
                                    <li><a href="#definicion-del-objeto">02. Definicion del objeto</a></li>
                                    <li><a href="#modificando-un-valor">03. Modificando un valor</a></li>
                                    <li><a href="#añadiendo-una-propiedad">04. Añadiendo una propiedad</a></li>
                                    <li><a href="#eliminando-una-propiedad">05. Eliminando una propiedad</a></li>
                                    <li><a href="#añadiendo-un-metodo">06. Añadiendo un metodo</a></li>
                                    <li><a href="#eliminando-un-metodo">07. Eliminando un metodo</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="definicion-de-la-clase">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Definicion de la clase</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="functions">class </span><span class="objects">Heroe</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span>habilidad <span class="keyword">= </span><span class="string">"Volar"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="functions">constructor</span><span class="methods">(</span><span class="parameters">nombre</span><span class="methods">)</span><span class="keyword"> {</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_doble_index">07</span><span class="symbols">this</span><span class="keyword">.</span>nombre <span class="keyword">= </span><span class="parameters">nombre</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index outer_index">09</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_index">11</span><span class="methods">saltar() </span><span class="keyword">{}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="definicion-del-objeto">
                        <h3>02. Definicion del objeto</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">14</span><span class="variable">let </span>heroe1 <span class="keyword">= </span><span class="return">new </span><span class="objects">Heroe</span><span class="methods">(</span><span class="string">"Super man"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">15</span></code></pre>

                            <pre><code><span class="index inner_index">16</span><span class="console">console</span><span class="methods">.log(</span>heroe1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Heroe { </pre>
                                <pre><span>></span>     habilidad: 'Volar',</pre>
                                <pre><span>></span>     nombre: 'Super man',</pre>
                                <pre><span>></span>     saltar(f)</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="modificando-un-valor">
                        <h3>03. Modificando un valor</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">17</span><span class="variable">let </span>heroe1 <span class="keyword">= </span><span class="return">new </span><span class="objects">Heroe</span><span class="methods">(</span><span class="string">"Super man"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">18</span></code></pre>

                            <pre><code><span class="index inner_index">19</span>heroe1<span class="keyword">.</span>habilidad <span class="keyword">= </span><span class="square">[</span><span class="string">"Volar"</span><span class="semi_colon">; </span><span class="string">"Super fuerza"</span><span class="semi_colon">; </span><span class="string">"Ojos lazer"</span><span class="square">]</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">20</span></code></pre>

                            <pre><code><span class="index inner_index">21</span><span class="console">console</span><span class="methods">.log(</span>heroe1<span class="keyword">.</span>habilidad<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> [ 'Volar', 'Super fuerza', 'Ojos lazer' ]</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="añadiendo-una-propiedad">
                        <h3>04. Añadiendo una propiedad</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">17</span><span class="variable">let </span>heroe1 <span class="keyword">= </span><span class="return">new </span><span class="objects">Heroe</span><span class="methods">(</span><span class="string">"Super man"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">18</span></code></pre>

                            <pre><code><span class="index inner_index">19</span>heroe1<span class="keyword">.</span>accesorios <span class="keyword">= </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">20</span></code></pre>

                            <pre><code><span class="index outer_index">21</span>vehiculo<span class="keyword">: </span><span class="string">"Batimovil"</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">22</span>armas<span class="keyword">: </span><span class="function">false</span></code></pre>

                            <pre><code><span class="index">23</span></code></pre>

                            <pre><code><span class="index inner_index">24</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">25</span></code></pre>

                            <pre><code><span class="index inner_index">26</span><span class="console">console</span><span class="methods">.log(</span>heroe1<span class="keyword">.</span>accesorios<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> {</pre>
                                <pre><span>></span>     vehiculo: 'Batimovil',</pre>
                                <pre><span>></span>     armas: false</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="eliminando-una-propiedad">
                        <h3>05. Eliminando una propiedad</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">17</span><span class="variable">let </span>heroe1 <span class="keyword">= </span><span class="return">new </span><span class="objects">Heroe</span><span class="methods">(</span><span class="string">"Super man"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">18</span></code></pre>

                            <pre><code><span class="index inner_index">19</span><span class="functions">delete </span>heroe1<span class="keyword">.</span>habilidad<span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">20</span></code></pre>

                            <pre><code><span class="index inner_index">21</span><span class="console">console</span><span class="methods">.log(</span>heroe1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Heroe {</pre>
                                <pre><span>></span>     nombre: 'Super man',</pre>
                                <pre><span>></span>     saltar(f)</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="añadiendo-un-metodo">
                        <h3>06. Añadiendo un metodo</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">17</span><span class="variable">let </span>heroe1 <span class="keyword">= </span><span class="return">new </span><span class="objects">Heroe</span><span class="methods">(</span><span class="string">"Batman"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">18</span></code></pre>

                            <pre><code><span class="index inner_index">19</span>heroe1<span class="keyword">.</span><span class="methods">salvar </span><span class="keyword">= </span><span class="functions">function</span><span class="methods">(</span><span class="parameters">ciudad</span><span class="methods">) </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">20</span></code></pre>

                            <pre><code><span class="index outer_index">21</span><span class="return">return</span> <span class="string">`Soy </span><span class="symbols">${</span><span class="symbols">this</span><span class="keyword">.</span>nombre<span class="symbols">}</span><span class="string"> y salvare ciudad </span><span class="symbols">${</span><span class="parameters">ciudad</span><span class="symbols">}</span><span class="string">`</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">22</span></code></pre>

                            <pre><code><span class="index inner_index">23</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">24</span></code></pre>

                            <pre><code><span class="index inner_index">25</span><span class="console">console</span><span class="methods">.log(</span>heroe1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Heroe {</pre>
                                <pre><span>></span>     habilidad: 'Volar',</pre>
                                <pre><span>></span>     nombre: 'Batman',</pre>
                                <pre><span>></span>     saltar(f),</pre>
                                <pre><span>></span>     salvar(f)</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="eliminando-un-metodo">
                        <h3>07. Eliminando un metodo</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">17</span><span class="variable">let </span>heroe1 <span class="keyword">= </span><span class="return">new </span><span class="objects">Heroe</span><span class="methods">(</span><span class="string">"Batman"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">18</span></code></pre>

                            <pre><code><span class="index inner_index">19</span><span class="functions">delete </span>heroe1<span class="keyword">.</span><span class="methods">saltar</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">20</span></code></pre>

                            <pre><code><span class="index inner_index">21</span><span class="console">console</span><span class="methods">.log(</span>heroe1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Heroe {</pre>
                                <pre><span>></span>     habilidad: 'Volar',</pre>
                                <pre><span>></span>     nombre: 'Batman'</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./clases-declaracion">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./clases-destructuring">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Manipulacion - Clases") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
