<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Metodos</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>texto pendiente</p>
                </section>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#static">01. Static</a></li>
                                    <li><a href="#get">02. Get</a></li>
                                    <li><a href="#set">03. Set</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="static">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Static</h3>

                        <p>Los metodos estaticos nos permiten <strong>acceder</strong> a las propiedades y metodos de una clase sin la necesidad de definir el objeto.</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">class </span>Alumno <span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span><span class="parenthesis">static </span>grado <span class="operator">= </span><span class="number">8</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="functions">constructor() </span><span class="keyword">{}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>Alumno<span class="operator">.</span>grado<span class="functions">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> 8</pre>
                            </div>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">class </span>Alumno <span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span><span class="functions">constructor() </span><span class="keyword">{}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="parenthesis">static </span><span class="methods">asistir(</span><span class="number">mensaje</span><span class="methods">) </span><span class="keyword">{</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_doble_index">07</span><span class="functions">return</span> <span class="number">mensaje</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index outer_index">09</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index inner_index">11</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>Alumno<span class="operator">.</span><span class="methods">asistir(</span><span class="string">"El alumno debe asistir puntual a clases"</span><span class="methods">)</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El alumno debe asistir puntual a clases</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="set">
                        <h3>02. Get</h3>

                        <p>
                            Nos permite obtener los valores de las propiedades de una clase. Este se define igual que un metodo pero iniciando con la palabra reservada
                            <strong>get</strong> Dentro de su escope se debe hacer uso de <strong>return</strong> para retornar el valor de la propiedad requerida. Una vez definido el objeto, podemos
                            acceder al metodo que para este punto se comporta como una <strong>propiedad</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">class </span>Universidad <span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span>nombre <span class="operator">= </span><span class="string">"Javascript"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="functions">constructor() </span><span class="keyword">{}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_index">07</span><span class="parenthesis">get </span><span class="methods">getNombre() </span><span class="keyword">{</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index outer_doble_index">09</span><span class="functions">return</span> <span class="operator">this.</span>nombre<span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_index">11</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">14</span></code></pre>

                            <pre><code><span class="index inner_index">15</span><span class="variable">let </span>objUniversidad <span class="operator">= </span><span class="operator">new </span>Universidad<span class="parenthesis">()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">16</span></code></pre>

                            <pre><code><span class="index inner_index">17</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>objUniversidad<span class="operator">.</span><span class="methods">getNombre</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Javascript</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="get">
                        <h3>03. Set</h3>

                        <p>
                            Nos permite establecer valores en las propiedades de una clase. Este se define igual que un metodo pero iniciando con la palabra reservada
                            <strong>set</strong> y debe recibir como minimo un parametro. Dentro de su escope se define la propiedad a la cual se le va a establecer el nuevo valor. Una vez definido el
                            objeto, podemos acceder al metodo que para este punto se comporta como una <strong>propiedad</strong> y asignarle el nuevo valor.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">class </span>Universidad <span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span>nombre <span class="operator">= </span><span class="string">"Javascript"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="functions">constructor() </span><span class="keyword">{}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_index">07</span><span class="parenthesis">set </span><span class="methods">setNombre(<span class="number">nuevoNombre</span>) </span><span class="keyword">{</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index outer_doble_index">09</span><span class="operator">this.</span>nombre <span>= </span><span class="number">nuevoNombre </span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_index">11</span><span class="keyword">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">14</span></code></pre>

                            <pre><code><span class="index inner_index">15</span><span class="variable">let </span>objUniversidad <span class="operator">= </span><span class="operator">new </span>Universidad<span class="parenthesis">()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">16</span></code></pre>

                            <pre><code><span class="index inner_index">17</span>objUniversidad<span class="operator">.</span><span class="methods">setNombre </span><span class="operator">= </span><span class="string">"Autonoma"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">18</span></code></pre>

                            <pre><code><span class="index inner_index">19</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>objUniversidad<span class="operator">.</span>nombre<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Autonoma</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./clases-herencia">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a class="not_next">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Metodos - Clases") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
