<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, 1 tag-hr y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>If - Else</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Esta <strong>estructura de control</strong> nos permite determinar cual sera el bloque de codigo que se ejecutara dada una condicion, si dicha condicion es verdadera se
                        ejecutara el codigo definido dentro del escope <strong>if</strong> de ser falsa se ejecutara el codigo definido dentro del escope
                        <strong>else</strong>
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Condicion if</h3>

                        <!--  
							tag-p: en esta definimos el parrafo de la seccion
						-->
                        <p>
                            Esta se ejecuta en el momento en el que el valor de la variable cumple con la condicion definida en la estructura de control ejecutando con ello el bloque de codigo
                            definido dentro de su escope.
                        </p>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/condicionales/if-else/if1.png" alt="condicion if" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Implementacion de if anidados</h3>

                        <p>
                            Estos nos permiten ejecutar condiciones dentro de condiciones siempre y cuando el valor de la o las variables cumplan con las diferentes condiciones definidas dentro de
                            cada estructura de control.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/condicionales/if-else/if2.png" alt="implementacion de if anidados" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Implementacion de else - if</h3>

                        <p>
                            Nos permite definir condiciones extras ampliando con ello el rango de coincidencias entre el valor de una variable y las diferentes condiciones definidas en las estructuras
                            de control.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/condicionales/if-else/elseif1.png" alt="implementacion de else - if" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Condicion if - else</h3>

                        <p>
                            Esta se ejecuta en el momento en el que el valor de la variable no cumple con la condicion definida en la estructura de control ejecutando con ello el bloque de codigo
                            definido dentro de su escope.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/condicionales/if-else/else1.png" alt="condicion if - else" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Condicional ternario</h3>

                        <p>
                            Es una manera simplificada de definir una estructura de control la cual tiene unicamente dos salidas que serian si la condicion se cumple ejecuta el codigo definido dentro
                            del escope
                            <strong>if</strong> si no, ejecuta el codigo definido dentro del escope <strong>else</strong>
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/condicionales/if-else/ternario1.png" alt="condicional ternario" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">If - Else - Condicionales</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
