<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <div class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Switch</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Esta estructura de control recibe como parametro una variable cuyo valor asignado <strong>es comparado</strong>
                        con los diferentes casos definidos dentro de si. Se recomienda finalizar cada caso haciendo uso de la palabra reservada
                        <strong>break</strong>
                        la cual se encarga de finalizar con el flujo una vez es hallada una coincidencia.
                    </p>
                </div>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#case">01. Case</a></li>
                                    <li><a href="#default">02. Default</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content" id="case">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Case</h3>

                        <p>
                            Se ejecuta en el momento en el que, el valor asignado en la variable
                            <strong> coincide</strong> con uno de los casos definidos dentro de la estructura de control. Ejecutando con ello, el bloque de codigo definido dentro de su escope.
                        </p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> saludo<span class="keyword"> =</span><span class="function"> true</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="functions">switch<span class="methods">(</span></span>saludo<span class="methods">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="functions">case</span><span class="string"> "hola"</span><span class="keyword">: </span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Hola Mundo"</span><span class="methods">)</span><span class="semi_colon">;</span><span class="functions">break</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_index">07</span><span class="functions">case</span><span class="numbers"> 10011</span><span class="keyword">: </span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Codigo del saludo"</span><span class="methods">)</span><span class="semi_colon">;</span><span class="functions">break</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index outer_index">09</span><span class="functions">case</span><span class="function"> true</span><span class="keyword">:</span> <span class="variable">{</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_doble_index">11</span><span class="variable">let</span> saludar <span class="keyword">=</span><span class="functions"> (<span class="parameters">nombre</span><span class="functions">)</span></span><span class="keyword"> => </span><span class="string">`Hola </span><span class="symbols">${</span><span class="parameters">nombre</span><span class="symbols">}</span><span class="string">`</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index outer_doble_index">13</span><span class="console">console</span><span class="methods">.log(</span>saludar<span class="functions">(<span class="string">"Emma"</span><span class="functions">)</span></span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">14</span></code></pre>

                            <pre><code> <span class="index outer_index">15</span><span class="variable">}</span><span class="semi_colon">;</span><span class="functions">break</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">16</span></code></pre>

                            <pre><code><span class="index outer_index">17</span><span class="functions">default</span><span class="keyword">: </span><span class="console">console</span><span class="methods">.log(</span><span class="string">"No existen coincidencias"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">18</span></code></pre>

                            <pre><code><span class="index inner_index">19</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Hola Emma</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="default">
                        <h3>02. Default</h3>

                        <p>
                            Se ejecuta en el momento en el que, el valor asigando en la variable <strong>no coincida</strong>
                            con ninguno de los casos definidos dentro de la estructura de control. Ejecutando con ello, el bloque de codigo definido dentro de su escope.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> pais<span class="keyword"> =</span><span class="string"> "Holanda"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="functions">switch<span class="methods">(</span></span>pais<span class="methods">)</span><span class="brackets"> {</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="functions">case</span><span class="string"> "Italia"</span><span class="keyword">: </span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Pais: italia"</span><span class="methods">)</span><span class="semi_colon">;</span><span class="functions">break</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_index">07</span><span class="functions">case</span><span class="numbers"> 10011</span><span class="keyword">: </span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Codigo de pais: 10011"</span><span class="methods">)</span><span class="semi_colon">;</span><span class="functions">break</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index outer_index">09</span><span class="functions">case</span><span class="function"> true</span><span class="keyword">: </span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Europa: true"</span><span class="methods">)</span><span class="semi_colon">;</span><span class="functions">break</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index outer_index">11</span><span class="functions">default</span><span class="keyword">: </span><span class="console">console</span><span class="methods">.log(</span><span class="string">"No existen coincidencias"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> No existen coincidencias</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="condicionales-if-else">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./condicionales-return">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Switch - Condicionales") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
