<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Switch</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Esta <strong>estructura de control</strong> recibe como parametro una variable cuyo valor es comparado con los diferentes casos definidos dentro de si. Para destacar se
                        recomienda finalizar cada caso con un
                        <strong>break</strong>
                        el cual se encarga de finalizar con el flujo del condicional una vez este se ha cumplido.
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Case true</h3>

                        <p>
                            Se ejecuta en el momento en el que el valor de la variable coincide con uno de los casos definidos dentro de la estructura de control ejecutando con ello el bloque de
                            codigo definido dentro de su escope.
                        </p>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/condicionales/switch/swi3.png" alt="case true" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Case default</h3>

                        <p>
                            Se ejecuta en el momento en el que el valor de la variable no coincide con ninguno de los casos definidos dentro de la estructura de control ejecutando con ello el bloque
                            de codigo definido dentro de su escope.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/condicionales/switch/swi2.png" alt="case default" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Switch - Condicionales</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
