<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <div class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Nodes</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Esta interfaz nos provee de metodos y propiedades l@s cuales nos permiten acceder y recorrer los elementos hijo peretenecientes a un elemento padre referenciado y modificar su
                        comportamiento a lo que se le conoce como relacion padre a hijo.
                    </p>
                </div>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#createElement">01. CreateElement</a></li>
                                    <li><a href="#innerHTML">02. InnerHTML</a></li>
                                    <li><a href="#appendChild">03. AppendChild</a></li>
                                    <li><a href="#remove">04. Remove</a></li>
                                    <li><a href="#removeChild">05. RemoveChild</a></li>
                                    <li><a href="#replaceChild">06. ReplaceChild</a></li>
                                    <li><a href="#cloneNode">07. CloneNode</a></li>
                                    <li><a href="#insertBefore">08. InsertBefore</a></li>
                                    <li><a href="#insertBefore-after">09. InsertBefore - after</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content" id="createElement">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. CreateElement</h3>

                        <!--  
							tag-p: en esta definimos el parrafo de la seccion
						-->
                        <p>
                            Nos permite crear un <strong>elemento HTML</strong> Para ello, este metodo
                            requiere un argumento de tipo <strong>node element</strong> con el cual se 
                            especifica la etiqueta del elemento que se desea crear.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> tagH1<span class="keyword"> = </span>document<span class="methods">.createElement(</span><span class="string">"h1"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="console">console</span><span class="methods">.log(</span>tagH1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> h1</pre>
                                <pre><code><span><</span><span class="parenthesis">h1</span><span>><</span><span class="parenthesis">/h1</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="innerHTML">
                        <h3>02. InnerHTML</h3>

                        <p>
                            Nos permite insertar o modificar el contenido textual de un 
                            <strong>elemento HTML</strong> Otras propiedades similares 
                            son <strong>outerHTML</strong>, <strong>outerText</strong>,
                            <strong>innerText</strong> y <strong>textContent</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> tagH1<span class="keyword"> = </span>document<span class="methods">.createElement(</span><span class="string">"h1"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span>tagH1<span class="methods">.</span>innerHTML <span class="keyword">= </span><span class="string">"Hola mundo"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span>tagH1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> h1</pre>
                                <pre><code><span><</span><span class="parenthesis">h1</span><span>></span><span class="text">Hola mundo</span><span><</span><span class="parenthesis">/h1</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="appendChild">
                        <h3>03. AppendChild</h3>

                        <p>
                            Nos permite insertar un <strong>elemento HTML</strong> hijo previamente creado. 
                            Para ello, Este metodo requiere un argumento de tipo <strong>node element</strong> 
                            con el cual se especifica el elemento que se desea insertar.
                            Cabe aclarar que para realizar dicha accion, es importante tener 
                            referenciado un elemento padre. Otro metodo similar es 
                            <strong>append</strong>
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console"><</span><span class="parenthesis">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">10</span><span class="console"><</span><span class="parenthesis">section</span> <span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span class="console">></span><span class="console"><</span><span class="parenthesis">/section</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">11</span></code></pre>
                            <pre><code><span class="index outer_index">12</span><span class="console"><</span><span class="parenthesis">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parenthesis">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">13</span><span class="console"><</span><span class="parenthesis">/body</span><span class="console">></span></code></pre>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> $tagSection<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"#section-padre"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> tagH1<span class="keyword"> = </span>document<span class="methods">.createElement(</span><span class="string">"h1"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span>tagH1<span class="methods">.</span>innerHTML <span class="keyword">= </span><span class="string">"Hola mundo"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span>$tagSection<span class="methods">.appendChild(</span>tagH1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="methods">.log(</span>$tagSection<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #section</pre>
                                <pre><code><span><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">h1</span><span>></span><span class="text">Hola mundo</span><span><</span><span class="parenthesis">/h1</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parenthesis">/section</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="remove">
                        <h3>04. Remove</h3>

                        <p>
                            Nos permite remover un <strong>elemento HTML</strong> padre. 
                            A diferencia de otros metodos, este no requiere de ningun argumento. 
                            Cabe aclarar que para realizar dicha accion, es importante tener 
                            referenciado un elemento padre.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console"><</span><span class="parenthesis">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">10</span><span class="console"><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">11</span><span class="console">   <</span><span class="parenthesis">h1</span><span class="console">></span>Titulo de la seccion<span class="console"><</span><span class="parenthesis">/h1</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">12</span></code></pre>
                            <pre><code><span class="index outer_index">13</span><span class="console">   <</span><span class="parenthesis">p</span><span class="console">></span>Parrafo de la seccion<span class="console"><</span><span class="parenthesis">/p</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">14</span></code></pre>
                            <pre><code><span class="index outer_index">15</span><span class="console">   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span class="console">></span>Boton de la seccion<span class="console"><</span><span class="parenthesis">/button</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">16</span><span class="console"><</span><span class="parenthesis">/section</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">17</span></code></pre>
                            <pre><code><span class="index outer_index">18</span><span class="console"><</span><span class="parenthesis">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parenthesis">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">19</span><span class="console"><</span><span class="parenthesis">/body</span><span class="console">></span></code></pre>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> $tagSection<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"#section-padre"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span>$tagSection<span class="methods">.remove()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span>$tagSection<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> undefined <span class="console">=> elemento eliminado</span></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="removeChild">
                        <h3>05. RemoveChild</h3>

                        <p>
                            Nos permite remover un <strong>elemento HTML</strong> hijo. Para ello,
                            este metodo requiere un argumento de tipo <strong>node element</strong>
                            con el cual se especifica el elemento que se desea remover. Cabe aclarar 
                            que para realizar dicha accion, es importante tener referenciado 
                            un elemento padre.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console"><</span><span class="parenthesis">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">10</span><span class="console"><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">11</span><span class="console">   <</span><span class="parenthesis">h1</span><span class="console">></span>Titulo de la seccion<span class="console"><</span><span class="parenthesis">/h1</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">12</span></code></pre>
                            <pre><code><span class="index outer_index">13</span><span class="console">   <</span><span class="parenthesis">p</span><span class="console">></span>Parrafo de la seccion<span class="console"><</span><span class="parenthesis">/p</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">14</span></code></pre>
                            <pre><code><span class="index outer_index">15</span><span class="console">   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span class="console">></span>Boton de la seccion<span class="console"><</span><span class="parenthesis">/button</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">16</span><span class="console"><</span><span class="parenthesis">/section</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">17</span></code></pre>
                            <pre><code><span class="index outer_index">18</span><span class="console"><</span><span class="parenthesis">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parenthesis">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">19</span><span class="console"><</span><span class="parenthesis">/body</span><span class="console">></span></code></pre>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> $tagSection<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"#section-padre"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> $tagP<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"p"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span>$tagSection<span class="methods">.removeChild(</span>$tagP<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="console">console</span><span class="methods">.log(</span>$tagSection<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #section</pre>
                                <pre><code><span><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">h1</span><span>></span><span class="text">Titulo de la seccion</span><span><</span><span class="parenthesis">/h1</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span>></span><span class="text">Boton de la seccion</span><span><</span><span class="parenthesis">/button</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parenthesis">/section</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="replaceChild">
                        <h3>06. ReplaceChild</h3>

                        <p>
                            Nos permite reemplazar un <strong>elemento HTML</strong> hijo por otro. Para ello, 
                            este metodo requiere dos argumentos de tipo <strong>node element</strong> con 
                            los cuales se especifica el elemento que va a reemplazar seguido del elemento 
                            a ser reemplazado. Cabe aclarar que para realizar dicha accion es importante tener 
                            una referencia de un elemento padre y del elemento que se desea reemplazar.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console"><</span><span class="parenthesis">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">10</span><span class="console"><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">11</span><span class="console">   <</span><span class="parenthesis">h1</span><span class="console">><</span><span class="parenthesis">/h1</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">12</span><span class="console"><</span><span class="parenthesis">/section</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">13</span></code></pre>
                            <pre><code><span class="index outer_index">14</span><span class="console"><</span><span class="parenthesis">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parenthesis">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">15</span><span class="console"><</span><span class="parenthesis">/body</span><span class="console">></span></code></pre>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> $tagSection<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"#section-padre"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> $tagH1<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"h1"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let</span> tagH2<span class="keyword"> = </span>document<span class="methods">.createElement(</span><span class="string">"h2"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span>$tagSection<span class="methods">.replaceChild(</span>tagH2<span class="semi_colon">, </span>$tagH1<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="methods">.log(</span>$tagSection<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #section</pre>
                                <pre><code><span><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">h2</span><span>><</span><span class="parenthesis">/h2</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parenthesis">/section</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="cloneNode">
                        <h3>07. CloneNode</h3>

                        <p>
                            Nos permite clonar un <strong>elemento HTML</strong> Para ello, es importante referenciar al elemento que deseamos clonar, a este elemento le definimos
                            <strong>cloneNode</strong> con valor <strong>true</strong> para que clone el elemento y su contenido. Si se establece un valor <strong>false</strong> se clonaria el
                            elemento sin contenido.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console"><</span><span class="parenthesis">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">10</span><span class="console"><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">11</span><span class="console">   <</span><span class="parenthesis">h1</span><span class="console">></span>Titulo de la seccion<span class="console"><</span><span class="parenthesis">/h1</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">12</span></code></pre>
                            <pre><code><span class="index outer_index">13</span><span class="console">   <</span><span class="parenthesis">p</span><span class="console">></span>Parrafo de la seccion<span class="console"><</span><span class="parenthesis">/p</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">14</span></code></pre>
                            <pre><code><span class="index outer_index">15</span><span class="console">   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span class="console">></span>Boton de la seccion<span class="console"><</span><span class="parenthesis">/button</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">16</span><span class="console"><</span><span class="parenthesis">/section</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">17</span></code></pre>
                            <pre><code><span class="index outer_index">18</span><span class="console"><</span><span class="parenthesis">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parenthesis">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">19</span><span class="console"><</span><span class="parenthesis">/body</span><span class="console">></span></code></pre>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> $tagButton<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"button"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> tagButtonClonada<span class="keyword"> = </span>$tagButton<span class="methods">.cloneNode(</span><span class="function">true</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span>tagButtonClonada<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> button</pre>
                                <pre><code><span><</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span>></span><span class="text">Boton de la seccion</span><span><</span><span class="parenthesis">/button</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="insertBefore">
                        <h3>08. InsertBefore</h3>

                        <p>
                            Nos permite insertar un nuevo elemento <strong>elemento HTML</strong> justo por encima de otro elemento ya existente. Para ello, es importante tener referenciado al
                            elemento padre y a un elemento hijo, luego debemos crear el nuevo elemento para finalmente implementar <strong>insertBefore</strong> el cual recibe como parametro el
                            elemento que fue creado y el elemento hijo utilizado como referencia.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console"><</span><span class="parenthesis">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">10</span><span class="console"><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">11</span><span class="console">   <</span><span class="parenthesis">h1</span><span class="console">></span>Titulo de la seccion<span class="console"><</span><span class="parenthesis">/h1</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">12</span></code></pre>
                            <pre><code><span class="index outer_index">13</span><span class="console">   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span class="console">></span>Boton de la seccion<span class="console"><</span><span class="parenthesis">/button</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">14</span><span class="console"><</span><span class="parenthesis">/section</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">15</span></code></pre>
                            <pre><code><span class="index outer_index">16</span><span class="console"><</span><span class="parenthesis">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parenthesis">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">17</span><span class="console"><</span><span class="parenthesis">/body</span><span class="console">></span></code></pre>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> $tagSection<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"#section-padre"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> $tagButton<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"button"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let</span> tagBr<span class="keyword"> = </span>document<span class="methods">.createElement(</span><span class="string">"br"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span>$tagSection<span class="methods">.insertBefore(</span>tagBr<span class="semi_colon">, </span>$tagButton<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="methods">.log(</span>$tagSection<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #section</pre>
                                <pre><code><span><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">h1</span><span>></span><span class="text">Titulo de la seccion</span><span><</span><span class="parenthesis">/h1</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">br</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span>></span><span class="text">Boton de la seccion</span><span><</span><span class="parenthesis">/button</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parenthesis">/section</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="insertBefore-after">
                        <h3>09. InsertBefore - after</h3>

                        <p>
                            Este tip nos permite insertar un nuevo <strong>elemento HTML</strong> justo por debajo de otro ya existente. Para ello, es importante tener referenciado al elemento padre y
                            a un elemento hijo, luego debemos crear el nuevo elemento para finalmente implementar <strong>insertBefore</strong> el cual recibe como parametro el elemento que fue creado
                            y el elemento hijo, la diferencia radica en colocarle la propiedad <strong>nextElementSibling</strong> al elemento referenciado.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console"><</span><span class="parenthesis">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">10</span><span class="console"><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">11</span><span class="console">   <</span><span class="parenthesis">h1</span><span class="console">></span>Titulo de la seccion<span class="console"><</span><span class="parenthesis">/h1</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">12</span></code></pre>
                            <pre><code><span class="index outer_index">13</span><span class="console">   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span class="console">></span>Boton de la seccion<span class="console"><</span><span class="parenthesis">/button</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">14</span><span class="console"><</span><span class="parenthesis">/section</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">15</span></code></pre>
                            <pre><code><span class="index outer_index">16</span><span class="console"><</span><span class="parenthesis">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parenthesis">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">17</span><span class="console"><</span><span class="parenthesis">/body</span><span class="console">></span></code></pre>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> $tagSection<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"#section-padre"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> $tagButton<span class="keyword"> = </span>document<span class="methods">.querySelector(</span><span class="string">"button"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let</span> tagHr<span class="keyword"> = </span>document<span class="methods">.createElement(</span><span class="string">"hr"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span>$tagSection<span class="methods">.insertBefore(</span>tagHr<span class="semi_colon">, </span>$tagButton<span class="functions">.nextElementSibling</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="methods">.log(</span>$tagSection<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #section</pre>
                                <pre><code><span><</span><span class="parenthesis">section </span><span class="functions">id</span><span class="console">=</span><span class="string">"section-padre"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">h1</span><span>></span><span class="text">Titulo de la seccion</span><span><</span><span class="parenthesis">/h1</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">button </span><span class="functions">type</span><span class="console">=</span><span class="string">"button"</span><span>></span><span class="text">Boton de la seccion</span><span><</span><span class="parenthesis">/button</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parenthesis">hr</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parenthesis">/section</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./dom-selectores">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./dom-clasList">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Nodes - DOM") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
