<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <div class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Document</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Pertenece al objeto <strong>window</strong> y al igual que este, puede proporcionarnos metodos y propiedades que pueden ser interminables, por ello en este apartado veremos
                        algunos de los mas importantes y que son utilizados con mayor frecuencia.
                    </p>
                </div>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#estructura">01. Estructura</a></li>
                                    <li><a href="#document">02. Document</a></li>
                                    <li><a href="#head">03. Head</a></li>
                                    <li><a href="#body">04. Body</a></li>
                                    <li><a href="#all">05. All</a></li>
                                    <li><a href="#styleSheets">06. StyleSheets</a></li>
                                    <li><a href="#scripts">07. Scripts</a></li>
                                    <li><a href="#images">08. Images</a></li>
                                    <li><a href="#links">09. Links</a></li>
                                    <li><a href="#forms">10. Forms</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content" id="estructura">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Estructura</h3>

                        <!--  
							tag-p: en esta definimos el parrafo de la seccion
						-->
                        <p>texto pendiente</p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console"><</span><span class="parameters">!DOCTYPE </span><span class="functions">html</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">02</span><span class="console"><</span><span class="parameters">html </span><span class="functions">lang</span><span class="console">=</span><span class="string">"es"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">03</span><span class="console"><</span><span class="parameters">head</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_doble_index">04</span><span class="console"><</span><span class="parameters">meta </span><span class="functions">http-equiv</span><span class="console">=</span><span class="string">"X-UA-Compatible" </span><span class="functions">content</span><span class="console">=</span><span class="string">"IE=edge"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_doble_index">05</span><span class="console"><</span><span class="parameters">meta </span><span class="functions">name</span><span class="console">=</span><span class="string">"viewport" </span><span class="functions">content</span><span class="console">=</span><span class="string">"width=device-width, initial-scale=1.0"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_doble_index">06</span><span class="console"><</span><span class="parameters">title</span><span class="console">></span>Document<span class="console"><</span><span class="parameters">/title</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_doble_index">07</span><span class="console"><</span><span class="parameters">link </span><span class="functions">rel</span><span class="console">=</span><span class="string">"stylesheet" </span><span class="functions">href</span><span class="console">=</span><span class="string">"./style.css"</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">08</span><span class="console"><</span><span class="parameters">/head</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">09</span><span class="console"><</span><span class="parameters">body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">10</span></code></pre>
                            <pre><code><span class="index outer_doble_index">11</span><span class="console"><</span><span class="parameters">h1</span><span class="console">></span>Hola mundo<span class="console"><</span><span class="parameters">/h1</span><span class="console">></span></code></pre>
                            <pre><code><span class="index">12</span></code></pre>
                            <pre><code><span class="index outer_doble_index">13</span><span class="console"><</span><span class="parameters">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span class="console">><</span><span class="parameters">/script</span><span class="console">></span></code></pre>
                            <pre><code><span class="index outer_index">14</span><span class="console"><</span><span class="parameters">/body</span><span class="console">></span></code></pre>
                            <pre><code><span class="index inner_index">15</span><span class="console"><</span><span class="parameters">/html</span><span class="console">></span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="document">
                        <h3>02. Document</h3>

                        <p>
                            Nos brinda informacion importante sobre la construccion del documento y de los diferentes
                            <strong>elementos HTML</strong> que lo componen.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #document</pre>
                                <pre><code><span><</span><span class="parameters">html </span><span class="functions">lang</span><span class="console">=</span><span class="string">"es"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">head</span><span>></span></code></pre>
                                <pre><code><span>       <</span><span class="parameters">meta </span><span class="functions">http-equiv</span><span class="console">=</span><span class="string">"X-UA-Compatible" </span><span class="functions">content</span><span class="console">=</span><span class="string">"IE=edge"</span><span>></span></code></pre>
                                <pre><code><span>       <</span><span class="parameters">meta </span><span class="functions">name</span><span class="console">=</span><span class="string">"viewport" </span><span class="functions">content</span><span class="console">=</span><span class="string">"width=device-width, initial-scale=1.0"</span><span>></span></code></pre>
                                <pre><code><span>       <</span><span class="parameters">title</span><span>></span><span class="text">Document</span><span><</span><span class="parameters">/title</span><span>></span></code></pre>
                                <pre><code><span>       <</span><span class="parameters">link </span><span class="functions">rel</span><span class="console">=</span><span class="string">"stylesheet" </span><span class="functions">href</span><span class="console">=</span><span class="string">"./style.css"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">/head</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">body</span><span>></span></code></pre>
                                <pre><code><span>       <</span><span class="parameters">h1</span><span>></span><span class="text">Hola mundo</span><span><</span><span class="parameters">/h1</span><span>></span></code></pre>
                                <pre><code><span>       <</span><span class="parameters">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span class="console">=</span><span class="string">"./main.js"</span><span>><</span><span class="parameters">/script</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">/body</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parameters">/html</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="head">
                        <h3>03. Head</h3>

                        <p>Nos permite conocer de manera detallada todos los elementos html (etiquetas) que componen la cabeza del documento.</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.head</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #head</pre>
                                <pre><code><span><</span><span class="parameters">head</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">meta </span><span class="functions">http-equiv</span><span class="console">=</span><span class="string">"X-UA-Compatible" </span><span class="functions">content</span><span class="console">=</span><span class="string">"IE=edge"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">meta </span><span class="functions">name</span><span class="console">=</span><span class="string">"viewport" </span><span class="functions">content</span><span class="console">=</span><span class="string">"width=device-width, initial-scale=1.0"</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">title</span><span>></span><span class="text">Document</span><span><</span><span class="parameters">/title</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">link </span><span class="functions">rel</span><span class="console">=</span><span class="string">"stylesheet" </span><span class="functions">href</span><span class="console">=</span><span class="string">"./style.css"</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parameters">/head</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="body">
                        <h3>04. Body</h3>

                        <p>Nos permite conocer de manera detallada todos los elementos html (etiquetas) que componen el cuerpo del documento.</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.body</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> #body</pre>
                                <pre><code><span><</span><span class="parameters">body</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">h1</span><span>></span><span class="text">Hola mundo</span><span><</span><span class="parameters">/h1</span><span>></span></code></pre>
                                <pre><code><span>   <</span><span class="parameters">script </span><span class="functions">type</span><span class="console">=</span><span class="string">"module" </span><span class="functions">src</span><span>=</span><span class="string">"./main.js"</span><span>><</span><span class="parameters">/script</span><span>></span></code></pre>
                                <pre><code><span><</span><span class="parameters">/body</span><span>></span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="all">
                        <h3>05. All</h3>

                        <p>
                            Nos permite conocer mediante una coleccion o <strong>array</strong> todos los elementos html (etiquetas) que componen el documento asi como la longitud (cantidad) de estas.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.all</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> HTMLAllCollection(8) [ html, head, meta, meta, title, link, body, h1, script ]</pre>
                                <pre><code><span>></span><span class="index inner_index">0</span><span class="parameters">html</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">1</span><span class="parameters">head</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">2</span><span class="parameters">meta</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">3</span><span class="parameters">meta</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">4</span><span class="parameters">title</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">5</span><span class="parameters">link</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">6</span><span class="parameters">body</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">7</span><span class="parameters">h1</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">8</span><span class="parameters">script</span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="styleSheets">
                        <h3>06. StyleSheets</h3>

                        <p>
                            Nos permite conocer todos los estilos css asociados al documento, este tambien cuenta con propiedades como <strong>cssRules</strong> la cual nos brinda informacion de los
                            elementos html y sus estilos css.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.styleSheets</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> StyleSheetList { 0: CSSStyleSheet, length: 1 }</pre>
                                <pre><code><span>></span><span class="index inner_index">0</span><span class="parameters">CSSStyleSheet { ownerRule: null, href: 'http://127.0.0.1:5500/style.css', … }</span></code></pre>
                                <pre><code><span>></span><span class="parameters">length: 1</span></code></pre>
                                <pre><code><span>></span><span class="parameters">[[Prototype]] StyleSheetList</span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="scripts">
                        <h3>07. Scripts</h3>

                        <p>Nos permite conocer mediante una coleccion o <strong>array</strong> todos los scripts asociados al documento asi como la longitud (cantidad) de estos.</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.scripts</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> HTMLCollection(3) [ script, script, script ]</pre>
                                <pre><code><span>></span><span class="index inner_index">0</span><span class="parameters">scripts</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">1</span><span class="parameters">scripts</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">2</span><span class="parameters">scripts</span></code></pre>
                                <pre><code><span>></span><span class="parameters">length: 3</span></code></pre>
                                <pre><code><span>></span><span class="parameters">[[Prototype]]: HTMLCollection</span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="images">
                        <h3>08. Images</h3>

                        <p>
                            Nos permite conocer mediante una coleccion o <strong>array</strong> todas las imagenes insertadas en el documento asi como la longitud (cantidad) de estas, a su vez tiene
                            propiedades que nos brinda informacion como nombre de clases, de atributos, el valor de su atributo src, entre otras.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.images</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> HTMLCollection(3) [ img, img, img ]</pre>
                                <pre><code><span>></span><span class="index inner_index">0</span><span class="parameters">img</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">1</span><span class="parameters">img</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">2</span><span class="parameters">img</span></code></pre>
                                <pre><code><span>></span><span class="parameters">length: 3</span></code></pre>
                                <pre><code><span>></span><span class="parameters">[[Prototype]]: HTMLCollection</span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="links">
                        <h3>09. Links</h3>

                        <p>
                            Nos permite conocer mediante una coleccion o <strong>array</strong> todos los enlaces insertados en el documento asi como la longitud (cantidad) de estos, a su vez tiene
                            propiedades que nos brinda informacion como el nombre del host, el valor de su atributo href, el texto del enlace, entre otras.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.links</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> HTMLCollection(3) [ a, a, a ]</pre>
                                <pre><code><span>></span><span class="index inner_index">0</span><span class="parameters">a</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">1</span><span class="parameters">a</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">2</span><span class="parameters">a</span></code></pre>
                                <pre><code><span>></span><span class="parameters">length: 3</span></code></pre>
                                <pre><code><span>></span><span class="parameters">[[Prototype]]: HTMLCollection</span></code></pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="form">
                        <h3>10. Forms</h3>

                        <p>
                            Nos permite conocer mediante una coleccion o <strong>array</strong> todos los formularios insertados en el documento asi como la longitud (cantidad) de estos, a su vez
                            tiene propiedades que nos brinda informacion como nombres de clases, nombres de atributos, su posicion en el documento, que elementos hijo tiene, entre otras.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="console">console</span><span class="methods">.log(</span>document<span class="functions">.forms</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>▼</span> HTMLCollection(3) [ form, form, form ]</pre>
                                <pre><code><span>></span><span class="index inner_index">0</span><span class="parameters">form</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">1</span><span class="parameters">form</span></code></pre>
                                <pre><code><span>></span><span class="index inner_index">2</span><span class="parameters">form</span></code></pre>
                                <pre><code><span>></span><span class="parameters">length: 3</span></code></pre>
                                <pre><code><span>></span><span class="parameters">[[Prototype]]: HTMLCollection</span></code></pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a class="not_previous">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./dom-selectores">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Document - DOM") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
