<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Listeners</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Los eventos de escucha nos permiten realizar cambios en los <strong>elementos HTML</strong> que conforman el <strong>DOM</strong>
                        En este apartado aunque hacemos referencia a la interfaz event - e, no explicaremos su funcionamiento ya que de esta hablamos a profundidad en la seccion
                        <strong>event - e</strong>
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Evento click</h3>

                        <!--  
							tag-p: en esta definimos el parrafo de la seccion
						-->
                        <p>
                            Se ejecuta cuando se hace clic sobre el
                            <strong>elemento HTML</strong> que tiene asignado el evento.
                        </p>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/DOM/listeners/c01.png" alt="evento click" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Evento dblclick</h3>

                        <p>
                            Se ejecuta cuando se hace doble clic sobre el
                            <strong>elemento HTML</strong> que tiene asignado el evento.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/DOM/listeners/c02.png" alt="evento dblclick" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Evento mouseenter</h3>

                        <p>
                            Se ejecuta cuando ingresamos al
                            <strong>elemento HTML</strong> que tiene asignado el evento.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/DOM/listeners/m01.png" alt="evento mouseenter" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Evento mouseleave</h3>

                        <p>
                            Se ejecuta cuando salimos del
                            <strong>elemento HTML</strong> que tiene asignado el evento.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/DOM/listeners/m02.png" alt="evento mouseleave" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Evento keyup</h3>

                        <p>
                            este tipo de eventos solo funciona para los <strong>elementos HTML</strong>
                            que permiten el ingreso de valores por teclado y se ejecuta cuando se suelta un caracter que a sido presionado.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/DOM/listeners/k01.png" alt="evento keyup" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>06. Evento keydown</h3>

                        <p>
                            este tipo de eventos solo funciona para los <strong>elementos HTML</strong>
                            que permiten el ingreso de valores por teclado y se ejecuta cuando se presiona un caracter.
                        </p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/DOM/listeners/k02.png" alt="evento keydown" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Listeners - DOM</footer>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
