<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Declaradas</h2>

                    <!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
                    <div class="banner_line_titles"></div>

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Nos permiten definir un bloque de codigo el cual puede ser ejecutado antes o despues de su invocacion, estas funciones reciben parametros como argumentos cuyos valores son
                        definidos en su invocacion.
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Invocacion despues de la definicion</h3>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/funciones/declaradas/clasic1.png" alt="invocacion despues de la definicion" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Invocacion antes de la definicion</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/funciones/declaradas/declarate2.png" alt="invocacion antes de la definicion" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Variables como valor en la invocacion</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/funciones/declaradas/parameters1.png" alt="variables como valor en la invocacion" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Valores por defecto en los parametros</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/funciones/declaradas/default1.png" alt="valores por defecto en los parametros" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Reutilizando una funcion</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/funciones/declaradas/reuse1.png" alt="reutilizado una funcion" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Declaradas - Funciones</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
