<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Declaradas</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Nos permiten definir un bloque de codigo el cual puede ser ejecutado antes o despues de su definicion. Las funciones <strong>pueden o no</strong> recibir parametros cuyos
                        valores conocidos tambien como <strong>argumentos</strong> deben ser definidos en el momento de la invocacion.
                    </p>
                </section>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#definicion-e-invocacion">01. Definicion e invocacion</a></li>
                                    <li><a href="#invocacion-y-definicion">02. Invocacion y definicion</a></li>
                                    <li><a href="#autoinvocacion">03. Autoinvocacion</a></li>
                                    <li><a href="#variables-como-argumentos">04. Variables como argumentos</a></li>
                                    <li><a href="#argumentos-por-defecto">05. Argumentos por defecto</a></li>
                                    <li><a href="#reutilizacion">06. Reutilizacion</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="definicion-e-invocacion">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Definicion e invocacion</h3>

                        <p>
                            Comenzamos definiendo la funcion <strong>usuario</strong> la cual no recibe parametros y dentro de su escope definimos el bloque de codigo a ejecutarse, en este caso
                            realizamos una impresion por consola. Finalmente realizamos la invocacion de la funcion.
                        </p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="functions">function</span> descripcion<span class="functions">() </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"Funcion declarada sin parametros"</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span>descripcion<span class="functions">()</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Funcion declarada sin parametros</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="invocacion-y-definicion">
                        <h3>02. Invocacion y definicion</h3>

                        <p>
                            Para este caso comenzamos con la invocacion de la funcion <strong>usuario</strong> y le enviamos dos argumentos ya que esta definimos los parametros
                            <strong>nombre</strong> y <strong>codigo</strong> Dentro de su escope realizamos la impresion por consola de los parametros antes mencionados.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span>usuario<span class="functions">(<span class="string">"Carolina"</span><span class="semi_colon">, </span><span class="number">22597</span><span class="functions">)</span></span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="functions">function</span> usuario<span class="functions">(</span><span class="parameters">nombre</span><span class="semi_colon">,</span> <span class="parameters">codigo</span><span class="functions">) </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index outer_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">`Nombre: </span><span class="symbols">${</span><span class="parameters">nombre</span><span class="symbols">}</span> <span class="string">Codigo: </span><span class="symbols">${</span><span class="parameters">codigo</span><span class="symbols">}</span><span class="string">`</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Nombre: Carolina Codigo: 22597</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="autoinvocacion">
                        <h3>03. Autoinvocacion</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="functions">(function</span> usuario<span class="keyword">(<span class="parameters">nombre</span>) </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">07</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">`Bienvenido </span><span class="symbols">${</span><span class="parameters">nombre</span><span class="symbols">}</span><span class="string">`</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="brackets">}</span><span class="functions">)(</span><span class="string">"Camilo"</span><span class="functions">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Bienvenido Camilo</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="variables-como-argumentos">
                        <h3>04. Variables como argumentos</h3>

                        <p>Una practica muy comun es pasar variables en la invocacion de una funcion ya que estas pueden almacenar valores de manera dinamica.</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> nombre<span class="operator"> =</span><span class="string"> "Luisa"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> codigo<span class="operator"> =</span><span class="number"> 35985</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="functions">function</span> usuario<span class="functions">(</span><span class="parameters">nombre</span><span class="semi_colon">,</span> <span class="parameters">codigo</span><span class="functions">) </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_index">07</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">`Nombre: </span><span class="symbols">${</span><span class="parameters">nombre</span><span class="symbols">}</span> <span class="string">Codigo: </span><span class="symbols">${</span><span class="parameters">codigo</span><span class="symbols">}</span><span class="string">`</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index inner_index">11</span>usuario<span class="functions">(</span>nombre<span class="semi_colon">, </span>codigo<span class="functions">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Nombre: Luisa Codigo: 35985</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="argumentos-por-defecto">
                        <h3>05. Argumentos por defecto</h3>

                        <p>
                            Podemos asignar argumentos directamente en los parametros de una funcion lo que sigifica que si un argumento
                            <strong>no es enviado</strong> en el momento de la invocacion, el parametro de la funcion tomara el valor del arguemento asignado por defecto.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="functions">function</span> usuario<span class="functions">(</span><span class="parameters">nombre </span><span class="operator">= </span><span class="string">"Carolina"</span><span class="semi_colon">,</span> <span class="parameters">codigo </span><span class="operator">= </span><span class="number">22597</span><span class="functions">) </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">`Nombre: </span><span class="symbols">${</span><span class="parameters">nombre</span><span class="symbols">}</span> <span class="string">Codigo: </span><span class="symbols">${</span><span class="parameters">codigo</span><span class="symbols">}</span><span class="string">`</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span>usuario<span class="functions">()</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Nombre: Carolina Codigo: 22597</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="reutilizacion">
                        <h3>06. Reutilizacion</h3>

                        <p>
                            Uno de los muchos beneficios de las funciones consiste en la reutilizacion. Esto significa que un bloque de codigo definido dentro del escope de una una funcion
                            <strong>puede ser ejecutado</strong>
                            infinitas veces permitiendonos con ello obtener diferentes resultados.
                        </p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="functions">function</span> usuario<span class="functions">(</span><span class="parameters">nombre</span><span class="semi_colon">,</span> <span class="parameters">codigo</span><span class="functions">) </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">`Nombre: </span><span class="symbols">${</span><span class="parameters">nombre</span><span class="symbols">}</span> <span class="string">Codigo: </span><span class="symbols">${</span><span class="parameters">codigo</span><span class="symbols">}</span><span class="string">`</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span>usuario<span class="functions">(<span class="string">"Carolina"</span><span class="semi_colon">, </span><span class="number">22597</span><span class="functions">)</span></span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span>usuario<span class="functions">(<span class="string">"Arturo"</span><span class="semi_colon">, </span><span class="number">63556</span><span class="functions">)</span></span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">10</span></code></pre>

                            <pre><code><span class="index inner_index">11</span>usuario<span class="functions">(<span class="string">"Sofia"</span><span class="semi_colon">, </span><span class="number">92154</span><span class="functions">)</span></span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Nombre: Carolina Codigo: 22597</pre>
                                <pre><span>></span> Nombre: Arturo Codigo: 63556</pre>
                                <pre><span>></span> Nombre: Sofia Codigo: 92154</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a class="not_previous">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./funciones-expresadas">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Declaradas - Funciones") %>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
