<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Glosario</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						En este aparatado encontraras definiciones tecnicas de .
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-p
					-->
					<section class="sect_content">
						<!--  
							tag-p: en esta definimos el parrafo de la seccion
						-->
						<p>
							<strong>Const :</strong>
							Es un tipo de variable que se define cuando se desea
							alamacenar un valor que no va a cambiar.
						</p>

						<p>
							<strong>Funcion :</strong>
							Es un bloque de codigo que ejecuta una accion que
							proviene del cliente.
						</p>

						<p>
							<strong>Ciclo :</strong>
							Es una estructura de repeticion a cual se basa en
							una condicion que de ser verdadera ejecuta las
							sentencias definidas dentro de su scope.
						</p>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Glosario Javascript</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
