<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Declaracion</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>texto pendiente</p>
                </section>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#instanciamiento">01. Instanciamiento</a></li>
                                    <li><a href="#claves-y-valores">02. Claves y valores</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="instanciamiento">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Instanciamiento</h3>

                        <p>texto pendiente</p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> mapa<span class="operator"> = new </span><span class="symbols">Map()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="functions">typeof </span>mapa<span class="semi_colon">, </span>mapa<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Object Map { }</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="claves-y-valores">
                        <h3>02. Claves y valores</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> curso<span class="operator"> = new </span><span class="symbols">Map(</span><span class="square">[</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span><span class="parenthesis">[</span><span class="string">'tema'<span class="semi_colon">, </span>'Manejo avanzado de Visual Studio Code'</span><span class="parenthesis">]</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_index">04</span><span class="parenthesis">[</span><span class="string">'costo'</span><span class="semi_colon">, </span><span class="number">80000</span><span class="parenthesis">]</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_index">05</span><span class="parenthesis">[</span><span class="string">'actualizado'</span><span class="semi_colon">, </span><span class="boolean">true</span><span class="parenthesis">]</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index outer_index">07</span><span class="parenthesis">[</span><span class="string">'niveles'</span><span class="semi_colon">, </span><span class="square">[</span><span class="string">"intermedio"</span><span class="semi_colon">, </span><span class="string">"avanzado"</span><span class="square">]</span><span class="parenthesis">]</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index outer_index">09</span><span class="parenthesis">[</span><span class="string">'requerimientos'</span><span class="semi_colon">, </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index outer_doble_index">10</span>conocimientos<span class="operator">: </span><span class="string">"Basico"</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">11</span>conectividad<span class="operator">: </span><span class="boolean">true</span></code></pre>

                            <pre><code><span class="index outer_index">12</span><span class="brackets">}</span><span class="parenthesis">]</span></code></pre>

                            <pre><code><span class="index">13</span></code></pre>

                            <pre><code><span class="index inner_index">14</span><span class="square">]</span><span class="symbols">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">15</span></code></pre>

                            <pre><code><span class="index inner_index">16</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>curso<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Map { </pre>
                                <pre><span>></span>     'tema' => 'Manejo avanzado de Visual Studio Code',</pre>
                                <pre><span>></span>     'costo' => 80000,</pre>
                                <pre><span>></span>     'actualizado' => true,</pre>
                                <pre><span>></span>     'niveles' => [ 'intermedio', 'avanzado' ],</pre>
                                <pre><span>></span>     'requerimientos' => { </pre>
                                <pre><span>></span>         conocimientos: 'Basico',</pre>
                                <pre><span>></span>         conectividad: true</pre>
                                <pre><span>></span>     }</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a class="not_previous">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./map-propiedades">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Declaracion - Map") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
