<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <div class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Math</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>Este objeto nos proporciona una serie de metodos con los cuales podemos realizar diferentes operacion numericas.</p>
                </div>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#metodo-random">01. Metodo random</a></li>
                                    <li><a href="#metodo-max">02. Metodo max</a></li>
                                    <li><a href="#metodo-min">03. Metodo min</a></li>
                                    <li><a href="#metodo-round">04. Metodo round</a></li>
                                    <li><a href="#metodo-ceil">05. Metodo ceil</a></li>
                                    <li><a href="#metodo-floor">06. Metodo floor</a></li>
                                    <li><a href="#metodo-trunc">07. Metodo trunc</a></li>
                                    <li><a href="#metodo-abs">08. Metodo abs</a></li>
                                    <li><a href="#metodo-pow">09. Metodo pow</a></li>
                                    <li><a href="#metodo-sqrt">10. Metodo sqrt</a></li>
                                    <li><a href="#metodo-sign">11. Metodo sign</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="metodo-random">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Metodo random</h3>

                        <p>texto pendiente</p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>inicio <span class="keyword">= </span><span class="numbers">1</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>final <span class="keyword">= </span><span class="numbers">10</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let </span>numeroAleatorio <span class="keyword">= </span>Math<span class="methods">.random(</span>inicio<span class="methods">) </span><span class="keyword">* </span>final<span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Generamos un numero aleatorio entre 1 y 10 => "</span><span class="semi_colon">, </span>numeroAleatorio<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Generamos un numero aleatorio entre 1 y 10 => 7.2429463</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-max">
                        <h3>02. Metodo max</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numero1 <span class="keyword">= </span><span class="numbers">105</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>numero2 <span class="keyword">= </span><span class="numbers">820</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let </span>numero3 <span class="keyword">= </span><span class="numbers">372</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="variable">let </span>numeroMayor <span class="keyword">= </span>Math<span class="methods">.max(</span>numero1<span class="semi_colon">, </span>numero2<span class="semi_colon">, </span>numero3<span class="methods">) </span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El numero mayor entre los tres es el "</span><span class="semi_colon">, </span>numeroMayor<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El numero mayor entre los tres es el 820</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-min">
                        <h3>03. Metodo min</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numero1 <span class="keyword">= </span><span class="numbers">76</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>numero2 <span class="keyword">= </span><span class="numbers">33</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let </span>numero3 <span class="keyword">= </span><span class="numbers">18</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="variable">let </span>numeroMenor <span class="keyword">= </span>Math<span class="methods">.min(</span>numero1<span class="semi_colon">, </span>numero2<span class="semi_colon">, </span>numero3<span class="methods">) </span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El numero menor entre los tres es el "</span><span class="semi_colon">, </span>numeroMenor<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El numero menor entre los tres es el 18</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-round">
                        <h3>04. Metodo round</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numeroDecimal <span class="keyword">= </span><span class="numbers">1.5</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>enteroCercano <span class="keyword">= </span>Math<span class="methods">.round(</span>numeroDecimal<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El entero mas cercano es "</span><span class="semi_colon">, </span>enteroCercano<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El entero mas cercano es 2</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-ceil">
                        <h3>05. Metodo ceil</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numeroDecimal <span class="keyword">= </span><span class="numbers">5.2</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>enteroCercano <span class="keyword">= </span>Math<span class="methods">.ceil(</span>numeroDecimal<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El entero mas cercano hacia arriba es "</span><span class="semi_colon">, </span>enteroCercano<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El entero mas cercano hacia arriba es 6</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-floor">
                        <h3>06. Metodo floor</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numeroDecimal <span class="keyword">= </span><span class="numbers">5.2</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>enteroCercano <span class="keyword">= </span>Math<span class="methods">.floor(</span>numeroDecimal<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El entero mas cercano hacia abajo es "</span><span class="semi_colon">, </span>enteroCercano<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El entero mas cercano hacia abajo es 5</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-trunc">
                        <h3>07. Metodo trunc</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numeroDecimal <span class="keyword">= </span><span class="numbers">9.2201254879981</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>convertidoANumeroEntero <span class="keyword">= </span>Math<span class="methods">.trunc(</span>numeroDecimal<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Sin decimales tenemos el numero entero "</span><span class="semi_colon">, </span>convertidoANumeroEntero<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Sin decimales tenemos el numero entero 9</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-abs">
                        <h3>08. Metodo abs</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numeroNegativo <span class="keyword">= </span><span class="numbers">-1500</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>convertidoAPositivo <span class="keyword">= </span>Math<span class="methods">.abs(</span>numeroNegativo<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"Como resultado tenemos el numero positivo "</span><span class="semi_colon">, </span>convertidoAPositivo<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Como resultado tenemos el numero positivo 1500</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-pow">
                        <h3>09. Metodo pow</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numero <span class="keyword">= </span><span class="numbers">10</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>potencia <span class="keyword">= </span><span class="numbers">2</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let </span>resultado <span class="keyword">= </span>Math<span class="methods">.pow(</span>numero<span class="semi_colon">, </span>potencia<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"La potencia de 10 a la 2 es "</span><span class="semi_colon">, </span>resultado<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> La potencia de 10 a la 2 es 100</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-sqrt">
                        <h3>10. Metodo sqrt</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numero <span class="keyword">= </span><span class="numbers">100</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>raizCuadrada <span class="keyword">= </span>Math<span class="methods">.sqrt(</span>numero<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"La raiz cuadrada de 100 es "</span><span class="semi_colon">, </span>raizCuadrada<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> La raiz cuadrada de 100 es 10</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-sign">
                        <h3>11. Metodo sign</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numero <span class="keyword">= </span><span class="numbers">0</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>resultado <span class="keyword">= </span>Math<span class="methods">.sign(</span>numero<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El valor asignado en la variable numero es un numero "</span><span class="semi_colon">, </span>resultado<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El valor asignado en la variable numero es un numero 0</pre>
                            </div>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numero <span class="keyword">= </span><span class="numbers">84</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>resultado <span class="keyword">= </span>Math<span class="methods">.sign(</span>numero<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El valor asignado en la variable numero es un numero positivo"</span><span class="semi_colon">, </span>resultado<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El valor asignado en la variable numero es un numero positivo 1</pre>
                            </div>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>numero <span class="keyword">= </span><span class="numbers">-35</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let </span>resultado <span class="keyword">= </span>Math<span class="methods">.sign(</span>numero<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="methods">.log(</span><span class="string">"El valor asignado en la variable numero es un numero negativo"</span><span class="semi_colon">, </span>resultado<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El valor asignado en la variable numero es un numero negativo -1</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./numeros-generales">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a class="not_next">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Math - Numeros") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
