<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Math</h2>

                    <!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
                    <div class="banner_line_titles"></div>

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>Este objeto nos proporciona una serie de metodos con los cuales podemos realizar diferentes operacion numericas.</p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Generando numeros aleatorios</h3>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/ran1.png" alt="generando numeros aleatorios" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Conociendo el numero mayor</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/max1.png" alt="conociendo el numero mayor" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Conociendo el numero menor</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/min1.png" alt="conociendo el numero menor" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Redondiando un numero segun su decimal</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/rou1.png" alt="redondiando un numero segun su decimal" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Redondiando un numero al entero mayor mas cercano</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/cei1.png" alt="redondiando al entero mayor mas cercano" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>06. Redondiando un numero al entero menor mas cercano</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/flo1.png" alt="redondiando al entero menor mas cercano" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>07. Eliminando la parte decimal de un numero</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/pun1.png" alt="eliminando la parte decimal de un numero" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>08. Pasar un numero de negativo a positivo</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/abs1.png" alt="pasar un numero de negativo a positivo" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>09. Validar si el numero es positivo, negativo o igual a cero</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/sig1.png" alt="validar si el numero es positivo, negativo o igual a cero" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>10. Potencia de un numero</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/pow1.png" alt="potencia de un numero" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>11. Raiz cuadrada de un numero</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/numbers/math/sqr1.png" alt="raiz cuadrada de un numero" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Math - Numbers</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
