<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Manipulacion</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Nos permite seleccionar, añadir, editar y/o eliminar valores, tambien nos permite definir arreglos, objetos o metodos lo que hace de los <strong>objetos</strong> uno de los
                        formatos mas utilizados.
                    </p>
                </section>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#definicion-del-objeto">01. Definicion del objeto</a></li>
                                    <li><a href="#modificando-un-valor">02. Modificando un valor</a></li>
                                    <li><a href="#añadiendo-una-clave">03. Añadiendo una clave</a></li>
                                    <li><a href="#eliminando-una-clave">04. Eliminando una clave</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="definicion-del-objeto">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Definicion del objeto</h3>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let </span>personaje <span class="operator">= </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index inner_index">02</span></code></pre>

                            <pre><code><span class="index outer_index">03</span> nombre<span class="operator">:</span><span class="string"> "Giutaro"</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">04</span> villano<span class="operator">:</span><span class="boolean"> true</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">05</span> edad<span class="operator">:</span><span class="number"> 32</span></code></pre>

                            <pre><code><span class="index inner_index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="modificando-un-valor">
                        <h3>02. Modificando un valor</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">08</span>personaje<span class="operator">.</span>nombre <span class="operator">= </span><span class="brackets">[</span><span class="string">"Daki"</span><span class="semi_colon">, </span><span class="string">"Akasa"</span><span class="semi_colon">, </span><span class="string">"Hantenzu"</span><span class="brackets">]</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">09</span></code></pre>

                            <pre><code><span class="index inner_index">10</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="operator">.</span>nombre<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> [ 'Daki', 'Akasa', 'Hantenzu' ]</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="añadiendo-una-clave">
                        <h3>03. Añadiendo una clave</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">08</span>personaje<span class="operator">.</span>informacion <span class="operator">= </span><span class="brackets">{</span></code></pre>

                            <pre><code><span class="index">09</span></code></pre>

                            <pre><code><span class="index outer_index">10</span>rango<span class="operator">: </span><span class="string">"Luna creciente"</span><span class="semi_colon">,</span></code></pre>

                            <pre><code><span class="index outer_index">11</span>nivel<span class="operator">: </span><span class="number">6</span></code></pre>

                            <pre><code><span class="index">12</span></code></pre>

                            <pre><code><span class="index inner_index">13</span><span class="brackets">}</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">14</span></code></pre>

                            <pre><code><span class="index inner_index">15</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="operator">.</span>informacion<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> {</pre>
                                <pre><span>></span>     rango: 'Luna creciente',</pre>
                                <pre><span>></span>     nivel: 6</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="eliminando-una-clave">
                        <h3>04. Eliminando una clave</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">08</span><span class="functions">delete</span> personaje<span class="operator">.</span>edad<span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">09</span></code></pre>

                            <pre><code><span class="index inner_index">10</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> {</pre>
                                <pre><span>></span>     nombre: 'Giutaro',</pre>
                                <pre><span>></span>     villano: true</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./objetos-declaracion">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./objetos-destructuring">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Manipulacion - Objetos") %>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
