<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Declaracion</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Inicia con la definicion de una variable, el signo de asignacion y finaliza con una llave de apertura y cierre las cuales
                        <strong>delimitan el escope</strong> del objeto, dentro de este se definen las diferentes claves y valores que son separados entre si por dos puntos.
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Definicion de claves y valores</h3>

                        <p>
                            Para este ejemplo, dentro del escope del objeto hemos definido tres claves con sus respectivos valores cada una separadas por coma. Finalmente, realizamos la impresion por
                            consola del objeto
                            <strong>personaje</strong> y haciendo uso de la <strong> notacion punto</strong> podemos acceder al valor de cualquiera de las claves.
                        </p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> personaje
                                    <span class="operator">=</span>
                                    <span class="brackets">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span> nombre<span class="operator">:</span><span class="string"> "Batman"</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">04</span> heroe<span class="operator">:</span><span class="boolean"> true</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">05</span> edad<span class="operator">:</span><span class="number"> 38</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">07</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="operator">.</span>nombre<span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <!--  
                            output_box: en esta definimos la salida en respuesta al codigo
                        -->
                        <div class="output_box">
                            <samp>Batman</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Arrays dentro objetos</h3>

                        <p>
                            Los <strong>objetos</strong> pueden contener <strong>arrays</strong> dentro de si, de tal manera que si necesitamos acceder a los valores de este, primero debemos
                            especificar el objeto seguido de la <strong> notacion punto</strong> y el array al cual le definimos entre llaves cuadradas la posicion del valor requerido.
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> personaje
                                    <span class="operator">=</span>
                                    <span class="brackets">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span> 
                                    cualidades<span class="operator">:</span>
                                    <span class="square">[</span><span class="string">"Fuerza"</span><span class="semi_colon">, </span><span class="string">"Resistencia"</span><span class="semi_colon">, </span><span class="string">"Inteligencia"</span><span class="square">]</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">05</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">07</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="operator">.</span>cualidades<span class="square">[</span>2<span class="square">]</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>Inteligencia</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Objetos dentro objetos</h3>

                        <p>
                            Los <strong>objetos</strong> pueden contener otros <strong>objetos</strong> dentro de si, de tal manera que si necesitamos acceder a los valores de este, primero debemos
                            especificar el objeto seguido de la <strong> notacion punto</strong>
                            el objeto interno, notacion punto y la clave.
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> personaje
                                    <span class="operator">=</span>
                                    <span class="brackets">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span> 
                                    traje<span class="operator">:</span>
                                    <span class="keyword">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_doble_index">05</span>
                                    color<span class="operator">:</span><span class="string"> "Negro"</span><span class="semi_colon">, </span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_doble_index">06</span>
                                    capa<span class="operator">:</span><span class="boolean"> true</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">07</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">08</span>
                                    <span class="keyword">}</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">10</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">11</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">12</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="operator">.</span>traje<span class="operator">.</span>capa<span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>true</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Metodos dentro objetos</h3>

                        <p>
                            Las <strong>funciones</strong> que se definen dentro de un objeto son conocidas como <strong>metodos</strong> y basicamente, consisten en acciones que son o pueden ser
                            realizadas por el objeto, estas funciones tienen el comportamiento de las funciones anonimas debido a que no tienen un nombre en su declaracion.
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> personaje
                                    <span class="operator">=</span>
                                    <span class="brackets">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span>
                                    salvar<span class="operator">:</span><span class="functions"> function(</span><span class="parameters">nombre</span><span class="functions">)</span> <span class="keyword"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_doble_index">05</span>
                                    <span class="functions">return</span> <span class="string">`</span><span class="symbols">${</span><span class="parameters">nombre</span><span class="symbols">}</span><span class="string"> salva a las personas</span><span class="string">`</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">07</span>
                                    <span class="keyword">}</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">09</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">10</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">11</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="operator">.</span>salvar<span class="functions">(</span><span class="string">"Batman"</span><span class="functions">)</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>Batman salva a las personas</samp>
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Uso de this</h3>

                        <p>
                            Hace referencia al <strong>objeto</strong> como tal siempre y cuando se implemente <strong>dentro de un metodo</strong>
                            que pertenezaca a este, esta declaracion permite acceder a los valores del objeto por medio de su o sus claves.
                        </p>

                        <div class="code_box">
                            <pre>
                                <code>
                                    <span class="circle first_circle"></span>
                                    <span class="circle second_circle"></span>
                                    <span class="circle thirt_circle"></span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">01</span>
                                    <span class="variable">let</span> personaje
                                    <span class="operator">=</span>
                                    <span class="brackets">{</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">02</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">03</span> nombre<span class="operator">:</span><span class="string"> "Batman"</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">04</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">05</span>
                                    salvar<span class="operator">:</span><span class="functions"> function()</span><span class="keyword"> {</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">06</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_doble_index">07</span>
                                    <span class="functions">return</span> <span class="string">`</span><span class="symbols">${</span><span class="operator">this.</span>nombre<span class="symbols">}</span><span class="string"> es lo mismo que escribir</span> <span class="symbols">${</span><span>personaje<span class="operator">.</span></span>nombre<span class="symbols">}</span><span class="string">`</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">08</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index outer_index">09</span>
                                    <span class="keyword">}</span><span class="semi_colon">,</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">10</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">11</span>
                                    <span class="brackets">}</span><span class="semi_colon">;</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">12</span>
                                </code>
                            </pre>

                            <pre>
                                <code>
                                    <span class="index inner_index">13</span>
                                    <span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>personaje<span class="operator">.</span>salvar<span class="functions">()</span><span class="parenthesis">)</span><span class="semi_colon">;</span>
                                </code>
                            </pre>
                        </div>

                        <div class="output_box">
                            <samp>Batman es lo mismo que escribir Batman</samp>
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Declaracion - Objetos</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
