<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Generales</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompa単a
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>En este aparatado definiremos las propiedades de las cadenas de caracteres <strong>string</strong> de una sola implementacion.</p>
                </section>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompa単a
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#propiedad-length">01. Propiedad length</a></li>
                                    <li><a href="#propiedad-typeof">02. Propiedad typeof</a></li>
                                    <li><a href="#metodo-toString">03. Metodo toString</a></li>
                                    <li><a href="#metodo-toUpperCase">04. Metodo toUpperCase</a></li>
                                    <li><a href="#metodo-toLowerCase">05. Metodo toLowerCase</a></li>
                                    <li><a href="#metodo-trim">06. Metodo trim</a></li>
                                    <li><a href="#metodo-charAt">07. Metodo charAt</a></li>
                                    <li><a href="#metodo-codePointAt">08. Metodo codePointAt</a></li>
                                    <li><a href="#metodo-concat">09. Metodo concat</a></li>
                                    <li><a href="#metodo-repeat">10. Metodo repeat</a></li>
                                    <li><a href="#json-parse">11. Json.parse</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content" id="propiedad-length">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Propiedad length</h3>

                        <p>texto pendiente</p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> frase<span class="operator"> =</span><span class="string"> "Hola Mundo"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> numeroCaracteres<span class="operator"> = </span>frase<span class="functions">.length</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"La frase Hola Mundo tiene"</span><span class="semi_colon">, </span>numeroCaracteres<span class="semi_colon">, </span><span class="string">"caracteres"</span><span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <!--  
                                output_box: en esta definimos la salida en respuesta al codigo
                            -->
                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> La frase Hola Mundo tiene 10 caracteres</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="propiedad-typeof">
                        <h3>02. Propiedad typeof</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> estudiante<span class="operator"> =</span><span class="boolean"> true</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> tipoDato<span class="operator"> = </span><span class="functions">typeof </span>estudiante<span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"El tipo de dato asignado en la variable estudiante es un:"</span><span class="semi_colon">, </span>tipoDato<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El tipo de dato asignado en la variable estudiante es un: boolean</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-toString">
                        <h3>03. Metodo toString</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> dni<span class="operator"> =</span><span class="number"> 787587965</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> convertirACadena<span class="operator"> = </span>dni<span class="methods">.toString()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"Convertido de number a"</span><span class="semi_colon">, </span><span class="functions">typeof </span>convertirACadena<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Convertido de number a string</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-toUpperCase">
                        <h3>04. Metodo toUpperCase</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> frase<span class="operator"> =</span><span class="string"> "Hola Mundo"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> convertirEnMayusculas<span class="operator"> = </span>frase<span class="methods">.toUpperCase()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"De Hola Mundo a"</span><span class="semi_colon">, </span>convertirEnMayusculas<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> De Hola Mundo a HOLA MUNDO</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-toLowerCase">
                        <h3>05. Metodo toLowerCase</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> frase<span class="operator"> =</span><span class="string"> "Hola Mundo"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> convertirEnMinusculas<span class="operator"> = </span>frase<span class="methods">.toLowerCase()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"De Hola Mundo a"</span><span class="semi_colon">, </span>convertirEnMinusculas<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> De Hola Mundo a hola mundo</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-trim">
                        <h3>06. Metodo trim</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> oracion<span class="operator"> =</span><span class="string"> "    Aprendiendo Javascript   "</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> eliminarEspacios<span class="operator"> = </span>oracion<span class="methods">.trim()</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>eliminarEspacios<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> 'Aprendiendo Javascript'</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-charAt">
                        <h3>07. Metodo charAt</h3>

                        <p>colocar el valor que retorna si los valores no son encontrados</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> lenguaje<span class="operator"> =</span><span class="string"> "PHP"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> extraerCaracter<span class="operator"> = </span>lenguaje<span class="methods">.charAt(</span><span class="number">1</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"El caracter extraido es"</span><span class="semi_colon">, </span>extraerCaracter<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El caracter extraido es H</pre>
                            </div>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> lenguaje<span class="operator"> =</span><span class="string"> "GO"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> extraerUltimoCaracter<span class="operator"> = </span>lenguaje<span class="methods">.codePointAt(</span>lenguaje<span class="functions">.length-</span><span class="number">1</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"El ultimo caracter es"</span><span class="semi_colon">, </span>extraerUltimoCaracter<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El ultimo caracter es O</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-codePointAt">
                        <h3>08. Metodo codePointAt</h3>

                        <p>colocar el valor que retorna si los valores no son encontrados</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> lenguaje<span class="operator"> =</span><span class="string"> "PHP"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> codigoCaracterExtraido<span class="operator"> = </span>lenguaje<span class="methods">.codePointAt(</span><span class="number">1</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"El codigo del caracter extraido es"</span><span class="semi_colon">, </span>codigoCaracterExtraido<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El codigo del caracter extraido es 72</pre>
                            </div>
                        </div>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> lenguaje<span class="operator"> =</span><span class="string"> "GO"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> codigoUltimoCaracterExtraido<span class="operator"> = </span>lenguaje<span class="methods">.codePointAt(</span>lenguaje<span class="functions">.length-</span><span class="number">1</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span><span class="string">"El codigo del ultimo caracter es"</span><span class="semi_colon">, </span>codigoUltimoCaracterExtraido<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> El codigo del ultimo caracter es 79</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-concat">
                        <h3>09. Metodo concat</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> saludo<span class="operator"> =</span><span class="string"> "Hola "</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> comunidad<span class="operator"> =</span><span class="string"> "Mundo "</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let</span> lenguaje<span class="operator"> =</span><span class="string"> "Javascript"</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="variable">let</span> concatenacion<span class="operator"> = </span>saludo<span class="methods">.concat(</span>comunidad<span class="semi_colon">, </span>lenguaje<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">08</span></code></pre>

                            <pre><code><span class="index inner_index">09</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>concatenacion<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Hola Mundo Javascript</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="metodo-repeat">
                        <h3>10. Metodo repeat</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> frase<span class="operator"> =</span><span class="string"> "Hola Mundo "</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> repetirFrase<span class="operator"> = </span>frase<span class="methods">.repeat(</span><span class="number">3</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>repetirFrase<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> Hola Mundo Hola Mundo Hola Mundo</pre>
                            </div>
                        </div>
                    </section>

                    <section class="sect_content" id="json-parse">
                        <h3>11. Json.parse</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> alumno<span class="operator"> =</span><span class="string"> '{ "nombre": "Janzi", "apellido": "Londo単o", "edad": 12 }</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">const </span>convertirEnObjecto <span class="operator">= </span>JSON<span class="methods">.parse(</span>alumno<span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="console">console</span><span class="keyword">.log</span><span class="parenthesis">(</span>convertirEnObjecto<span class="parenthesis">)</span><span class="semi_colon">;</span></code></pre>

                            <div class="output_box">
                                <pre></pre>
                                <pre><span>></span> {</pre>
                                <pre><span>></span>     nombre: "Janzi",</pre>
                                <pre><span>></span>     apellido: "Londo単o",</pre>
                                <pre><span>></span>     edad: 12</pre>
                                <pre><span>></span> }</pre>
                            </div>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a class="not_previous">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./strings-parse">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Generales - Strings") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
