<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Generales</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>En este aparatado definiremos las propiedades de las cadenas de caracteres <strong>string</strong> de una sola implementacion.</p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Conociendo la longitud</h3>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/mix1.png" alt="conociendo la longitud" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Conociendo el tipo</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/mix2.png" alt="conociendo el tipo" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Convirtiendo tipos de datos</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/tos1.png" alt="convirtiendo tipos de datos" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. De minusculas a mayusculas</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/upe1.png" alt="de minusculas a mayusculas" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. De mayusculas a minusculas</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/low1.png" alt="de mayusculas a minusculas" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>06. Reduccion de espacios</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/tri1.png" alt="reduccion de espacios" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>07. Conociendo un caracter</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/cha1.png" alt="conociendo un caracter" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>08. Conociendo el codigo de un caracter</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/cod1.png" alt="conociendo lel codigo de un caracter" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>09. Concatenacion de cadenas</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/con1.png" alt="concatenacion de cadenas" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>10. Repeticion de cadenas</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/strings/generales/rep5.png" alt="repeticion de cadenas" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Generales - Strings</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
