<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Try - Catch</h2>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Cuando se presenta un error en una linea de codigo, <strong>javascript</strong> inmediatamente bloquea la ejecucion del codigo que se encuentre por debajo de dicha linea. Este
                        comportamiento lo podemos evitar haciendo uso de <strong>try - catch</strong> El cual toma el error y lo envia al <strong>catch</strong> que se encarga de emitir el error sin
                        bloquear la ejecucion del codigo. Finalmente, veremos como emitir errores personalizados haciendo uso de <strong>throw new Error</strong>.
                    </p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Bloqueo de codigo javascript</h3>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/try-catch/t01.png" alt="bloqueo de codigo javascript" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Impelementacion de try - catch</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/try-catch/t02.png" alt="impelementacion de try - catch" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Errores personalizados con throw new Error</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/try-catch/t03.png" alt="errores personalizados con throw new Error" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Mas de throw new Error</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/try-catch/t04.png" alt="mas de throw new Error" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">try - catch</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
