<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                modal_section y 1 sections_container
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 index_container, de 1 tag-hr
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        index_container: contenedor de 1 tag-h2 y 1 tag-svg
                    -->
                    <section class="index_container">
                        <!--  
                            tag-h2: en esta definimos el titulo del banner
                        -->
                        <h2>Config</h2>

                        <!--  
                            tag-svg: en esta definimos el icono del temario, le 
                            definimos un ID para trabajar este elemento con javascript
                        -->
                        <svg viewBox="0 0 24 24" id="show-modal">
                            <path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path>
                        </svg>
                    </section>

                    <!--  
                        tag-hr: esta tag la definimos la linea que acompaña
                        al titulo de la seccion
                    -->
                    <hr class="line_titles" />

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>texto pendiente</p>
                </section>

                <!--  
                    modal_section: contenedor de la seccion
                -->
                <div class="modal_section">
                    <!--  
                        modal_container: contenedor definido para manejar el 
                        responsive
                    -->
                    <div class="modal_container">
                        <!--  
                            hidden_modal: parte oculta del modal, le
                            definimos un ID para implementar este elemento
                            en javascript
                        -->
                        <div class="hidden_modal" id="hidden-modal">
                            <!--  
                                content_modal: contenedor de 1 tag-h2 y 1 tag-ul
                            -->
                            <section class="content_modal">
                                <!--  
                                    tag-h2: en esta definimos el titulo de la seccion
                                -->
                                <h2>Temario</h2>

                                <!--  
                                    tag-hr: esta tag la definimos la linea que acompaña
                                    al titulo de la seccion
                                -->
                                <hr class="line_titles" />

                                <!--  
                                    tag-ul: en esta definimos los items del temario del modal
                                -->
                                <ul>
                                    <li><a href="#webpack.config.js">01. Webpack.config.js</a></li>
                                    <li><a href="#require">02. Require</a></li>
                                    <li><a href="#module.export">03. Module.exports</a></li>
                                    <li><a href="#mode-y-entry">04. Mode y Entry</a></li>
                                    <li><a href="#output">05. Output</a></li>
                                    <li><a href="#plugins">06. Plugins</a></li>
                                    <li><a href="#module">07. Module</a></li>
                                    <li><a href="#devServer">08. DevServer</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
                    <section class="sect_content" id="webpack.config.js">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Webpack.config.js</h3>

                        <p>texto pendiente</p>

                        <!--  
                            code_box: en esta definimos
                        -->
                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">></span><span class="boolean">node_modules</span></code></pre>
                            <pre><code><span class="index inner_index">></span><span class="variable">src</span></code></pre>
                            <pre><code><span class="index inner_index"> </span><span class="console">packaje-lock.json</span></code></pre>
                            <pre><code><span class="index inner_index"> </span><span class="console">packaje.json</span></code></pre>
                            <pre><code><span class="index inner_index"> </span><span class="console">webpack.config.js</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="require">
                        <h3>02. Require</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">01</span><span class="variable">let</span> path<span class="keyword"> = </span><span class="methods">require(</span><span class="string">"path"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">02</span></code></pre>

                            <pre><code><span class="index inner_index">03</span><span class="variable">let</span> HTMLWebpackPlugin<span class="keyword"> = </span><span class="methods">require(</span><span class="string">"html-webpack-plugin"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">04</span></code></pre>

                            <pre><code><span class="index inner_index">05</span><span class="variable">let</span> MiniCssExtractPlugin<span class="keyword"> = </span><span class="methods">require(</span><span class="string">"mini-css-extract-plugin"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>

                            <pre><code><span class="index">06</span></code></pre>

                            <pre><code><span class="index inner_index">07</span><span class="variable">let</span><span class="brackets"> {</span>CleanWebpackPlugin<span class="brackets">}</span><span class="keyword"> = </span><span class="methods">require(</span><span class="string">"clean-webpack-plugin"</span><span class="methods">)</span><span class="semi_colon">;</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="module.exports">
                        <h3>03. Module.exports</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">08</span>module<span class="functions">.exports </span><span class="keyword">= </span><span class="brackets">{}</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="mode-y-entry">
                        <h3>04. Mode y Entry</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index inner_index">09</span>module<span class="functions">.exports </span><span class="keyword">= </span><span class="brackets">{</span></code></pre>
                            <pre><code><span class="index outer_index">10</span>mode<span class="keyword">: </span><span class="string">"production"</span><span class="semi_colon">, </span><span class="console">// development</span></code></pre>
                            <pre><code><span class="index outer_index">11</span>entry<span class="keyword">: </span><span class="string">"./src/js/main.js"</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="output">
                        <h3>05. Output</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index outer_index">12</span>output<span class="keyword">: </span><span class="brackets">{</span></code></pre>
                            <pre><code><span class="index outer_doble_index">13</span>filename<span class="keyword">: </span><span class="string">"bundle.[contenthash].js"</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">14</span>path<span class="keyword">: </span>path<span class="methods">.resolve(</span>__dirname <span class="keyword">+ </span><span class="string">"/dist"</span><span class="methods">)</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">15</span>assetModuleFilename<span class="keyword">: </span><span class="string">"images/[name][hash][ext]"</span></code></pre>
                            <pre><code><span class="index outer_index">16</span><span class="brackets">}</span><span class="semi_colon">,</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="plugins">
                        <h3>06. Plugins</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index outer_index">17</span>plugins<span class="keyword">: </span><span class="square">[</span></code></pre>
                            <pre><code><span class="index outer_doble_index">18</span><span class="keyword">new </span>HTMLWebpackPlugin<span class="methods">(</span><span class="keyword">{</span></code></pre>
                            <pre><code><span class="index outer_doble_index">19</span>   template<span class="keyword">: </span><span class="string">"./src/views/index.html"</span></code></pre>
                            <pre><code><span class="index outer_doble_index">20</span><span class="keyword">}</span><span class="methods">)</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">21</span><span class="keyword">new </span>MiniCssExtractPlugin<span class="methods">(</span><span class="keyword">{</span></code></pre>
                            <pre><code><span class="index outer_doble_index">22</span>   filename<span class="keyword">: </span><span class="string">"style.[contenthash].css"</span></code></pre>
                            <pre><code><span class="index outer_doble_index">23</span><span class="keyword">}</span><span class="methods">)</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">24</span><span class="keyword">new </span>CleanWebpackPlugin<span class="methods">()</span></code></pre>
                            <pre><code><span class="index outer_index">25</span><span class="square">]</span><span class="semi_colon">,</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="module">
                        <h3>07. Module</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index outer_index">26</span>module<span class="keyword">: </span><span class="brackets">{</span></code></pre>
                            <pre><code><span class="index outer_doble_index">27</span>rules<span class="keyword">: </span><span class="square">[</span></code></pre>
                            <pre><code><span class="index outer_doble_index">28</span><span class="parenthesis">   {</span></code></pre>
                            <pre><code><span class="index outer_doble_index">29</span>      test<span class="keyword">: </span><span class="parenthesis">/</span><span class="functions">\.</span>html<span class="functions">$</span><span class="parenthesis">/</span>i<span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">30</span>      use<span class="keyword">: </span><span class="string">"html-loader"</span></code></pre>
                            <pre><code><span class="index outer_doble_index">31</span><span class="parenthesis">   }</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">32</span><span class="parenthesis">   {</span></code></pre>
                            <pre><code><span class="index outer_doble_index">33</span>      test<span class="keyword">: </span><span class="parenthesis">/</span><span class="functions">\.(</span>css<span class="functions">|</span>sass<span class="functions">|</span>scss<span class="functions">)$</span><span class="parenthesis">/</span>i<span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">34</span>      use<span class="keyword">: </span><span class="keyword">[</span>MiniCssExtractPlugin<span class="properties">.loader</span><span class="semi_colon">, </span><span class="string">"css-loader"<span class="semi_colon">, </span>"sass-loader"</span><span class="keyword">]</span></code></pre>
                            <pre><code><span class="index outer_doble_index">35</span><span class="parenthesis">   }</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">36</span><span class="parenthesis">   {</span></code></pre>
                            <pre><code><span class="index outer_doble_index">37</span>      test<span class="keyword">: </span><span class="parenthesis">/</span><span class="functions">\.(</span>png<span class="functions">|</span>svg<span class="functions">|</span>jpg<span class="functions">|</span>jpeg<span class="functions">|</span>gif<span class="functions">)$</span><span class="parenthesis">/</span>i<span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">38</span>      type<span class="keyword">: </span><span class="string">"asset/resource"</span></code></pre>
                            <pre><code><span class="index outer_doble_index">39</span><span class="parenthesis">   }</span></code></pre>
                            <pre><code><span class="index outer_doble_index">40</span><span class="square">]</span></code></pre>
                            <pre><code><span class="index outer_index">41</span><span class="brackets">}</span><span class="semi_colon">,</span></code></pre>
                        </div>
                    </section>

                    <section class="sect_content" id="devServer">
                        <h3>08. DevServer</h3>

                        <p>texto pendiente</p>

                        <div class="code_box">
                            <pre><code><span class="circle first_circle"></span><span class="circle second_circle"></span><span class="circle thirt_circle"></span></code></pre>

                            <pre><code><span class="index outer_index">42</span>devServer<span class="keyword">: </span><span class="brackets">{</span></code></pre>
                            <pre><code><span class="index outer_doble_index">43</span>port<span class="keyword">: </span><span class="number">8080</span><span class="semi_colon">,</span></code></pre>
                            <pre><code><span class="index outer_doble_index">44</span>open<span class="keyword">: </span><span class="function">true</span></code></pre>
                            <pre><code><span class="index outer_index">45</span><span class="brackets">}</span></code></pre>
                            <pre><code><span class="index inner_index">46</span><span class="brackets">}</span></code></pre>
                        </div>
                    </section>

                    <!--  
                        section_pagination: contenedor de 2 tags-a
                    -->
                    <div class="section_pagination">
                        <!--  
                            tag-a: en estas definimos el enlace de redireccionamiento
                            a las diferentes secciones y el icono de redireccion
                        -->
                        <a href="./webpack-estructura">
                            <svg viewBox="0 0 24 24">
                                <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
                            </svg>
                        </a>

                        <a href="./webpack-build">
                            <svg viewBox="0 0 24 24">
                                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                            </svg>
                        </a>
                    </div>

                    <!--  
                        incluimos el partial footer.ejs
                    -->
                    <%- include('../partials/footer', titleSection = "Config - Webpack") %>
                </div>
            </main>
        </div>

        <script type="module" src="./js/main.js"></script>
    </body>
</html>
