<!--  
    section_footer: contenedor de la seccion
-->
<footer class="section_footer">
    <!-- 
        box-gotop: contenedor de una tag-svg, le definimos
        un ID para implementar este elemento en javascript
    -->
    <div class="box_gotop" id="go-top">
        <!--  
            tag-svg: en esta definimos el icono del gotop
        -->
        <svg viewBox="0 0 24 24">
            <path d="m6.293 16.293 1.414 1.414L12 13.414l4.293 4.293 1.414-1.414L12 10.586z"></path>
        </svg>
    </div>

    <!--  
        tag-h4: en esta definimos el titulo de la seccion
    -->
    <h4><%= titleSection %></h4>
</footer>
