<!--  
	nav_menu: en esta definimos los items del menu de navegacion
-->
<ul class="nav_menu">
    <!--  
		:li_dropdown: contenedor de 1tag-a y 1 tag-ul, la clase
		:li_dropdown se implementa en javascript
	-->
    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            01. Variables

            <!--          
				tag-svg: en este definimos el icono del del item
			-->
            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <!--  
			:dropdown_menu: en esta definimos el menu de 
			:navegacion interno
		-->
        <ul class="dropdown_menu">
            <li><a href="/variables-var">a. Var</a></li>

            <li><a href="/variables-let">b. Let</a></li>

            <li><a href="/variables-const">c. Const</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            02. Condicionales

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/condicionales-if-else">a. If - Else</a></li>
            <li><a href="/condicionales-switch">b. Switch </a></li>
            <li><a href="/condicionales-return">c. Return</a></li>
            <li><a href="/condicionales-operadores">d. Operadores</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            03. Ciclos

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/ciclos-while">a. while</a></li>
            <li><a href="/ciclos-do-while">b. do - while</a></li>
            <li><a href="/ciclos-for">c. for</a></li>
            <li><a href="/ciclos-for-of">d. for - of</a></li>
            <li><a href="/ciclos-for-in">e. for - in</a></li>
            <li><a href="/ciclos-forEach">f. forEach</a></li>
            <li><a href="/ciclos-break-continue">f. break - continue</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            04. Funciones

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/funciones-declaradas">a. Declaradas</a></li>
            <li><a href="/funciones-expresadas">b. Expresadas</a></li>
            <li><a href="/funciones-arrow">c. Arrow</a></li>
            <li><a href="/funciones-callback">d. Callback</a></li>
            <li><a href="/funciones-return">e. Return</a></li>
            <!-- <li><a href="/funciones-events">d. Events</a></li> -->
            <li><a href="/funciones-operadores">f. Operadores</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            05. Arreglos

            <!-- <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="#">a. uno</a></li>
        </ul> -->
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            06. Objetos

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/objetos-declaracion">a. Declaracion</a></li>
            <li><a href="/objetos-manipulacion">b. Manipulacion</a></li>
            <li><a href="/objetos-constructor">c. Constructor</a></li>
            <li><a href="/objetos-destructuracion">d. Destructuracion</a></li>
            <li><a href="/objetos-metodos">e. Metodos</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            07. Clases

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/clases-declaracion">a. Declaracion</a></li>
            <li><a href="/clases-herencia">b. Herencia</a></li>
            <li><a href="/clases-consola">c. Consola</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            08. JSON

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/json-declaracion">a. Declaracion</a></li>
            <li><a href="/json-manipulacion">b. Manipulacion</a></li>
            <li><a href="/json-metodos">c. Metodos</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="/try-catch"> 09. Try - Catch </a>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            10. Promesas

            <!-- <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="#">a. uno</a></li>
        </ul> -->
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            11. Strings

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/strings-generales">a. Generales</a></li>

            <li><a href="/strings-slice">b. slice</a></li>

            <li><a href="/strings-replace">c. replace</a></li>

            <li><a href="/strings-includes">d. includes</a></li>

            <li><a href="/strings-index">e. index</a></li>

            <li><a href="/strings-match">f. match</a></li>

            <li><a href="/strings-split">g. split</a></li>

            <li><a href="/strings-search">h. rearch</a></li>

            <li><a href="/strings-start-end">i. start - end</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            12. Numeros

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/numeros-generales">a. Generales</a></li>

            <li><a href="/numeros-math">b. Math</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            12. DOM

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/dom-window">a. window</a></li>

            <li><a href="/dom-document">b. document</a></li>

            <li><a href="/dom-selectores">c. Selectores</a></li>

            <li><a href="/dom-nodeChild">d. nodeChild</a></li>

            <li><a href="/dom-nodeSiblings">e. nodeSiblings</a></li>

            <li><a href="/dom-classList">f. classList</a></li>

            <li><a href="/dom-attribute">g. attribute</a></li>

            <li><a href="/dom-style">h. style</a></li>

            <li><a href="/dom-listeners">i. Listeners</a></li>

            <li><a href="/dom-event-e">j. event - e</a></li>

            <li><a href="/dom-formularios">k. Formularios</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            13. LocalStorage

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/localStorage-setItem">a. setItem</a></li>

            <li><a href="/localStorage-getItem">b. getItem</a></li>

            <li><a href="/localStorage-removeItem">c. removeItem</a></li>

            <li><a href="/localStorage-clear">d. clear</a></li>

            <li><a href="/localStorage-propiedades">e. Propiedades</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="/date"> 14. Date</a>
    </li>

    <li class="li_dropdown">
        <a href="/temporizadores"> 15. Temporizadores</a>
    </li>

    <li class="li_dropdown">
        <a href="#">
            16. RegExp

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/regexp-flags">a. Flags</a></li>

            <li><a href="/regexp-indicadores">b. Indicadores</a></li>

            <li><a href="/regexp-metodos">c. Metodos</a></li>

            <li><a href="/regexp-patrones">c. Patrones</a></li>
        </ul>
    </li>
</ul>
