<!--  
	nav_menu: en esta definimos los items del menu de navegacion
-->
<ul class="nav_menu">
    <!--  
		:li_dropdown: contenedor de 1tag-a y 1 tag-ul, la clase
		:li_dropdown se implementa en javascript
	-->
    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            01. Variables

            <!--          
				tag-svg: en este definimos el icono del del item
			-->
            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <!--  
			:dropdown_menu: en esta definimos el menu de 
			:navegacion interno
		-->
        <ul class="dropdown_menu">
            <li><a href="/variable-var">a. Var</a></li>

            <li><a href="/variable-let">b. Let</a></li>

            <li><a href="/variable-const">c. Const</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            02. Condicionales

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/condicionales-if-else">a. If - Else</a></li>
            <li><a href="/condicionales-switch">b. Switch </a></li>
            <li><a href="/condicionales-operadores">c. Operadores</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            03. Ciclos

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/ciclos-while">a. While</a></li>
            <li><a href="/ciclos-do-while">b. Do while</a></li>
            <li><a href="/ciclos-for">c. For</a></li>
            <li><a href="/ciclos-for-of">d. For of</a></li>
            <li><a href="/ciclos-for-in">e. For in</a></li>
            <li><a href="/ciclos-forEach">f. ForEach</a></li>
            <li><a href="/ciclos-break-continue">f. Break - Continue</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            04. Funciones

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/funciones-declaradas">a. Declaradas</a></li>
            <li><a href="/funciones-expresadas">b. Expresadas</a></li>
            <li><a href="/funciones-callback">c. Callback</a></li>
            <li><a href="/funciones-events">d. Events</a></li>
            <li><a href="/funciones-rest-operator">e. Rest Operator</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            05. Arreglos

            <!-- <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="#">a. uno</a></li>
        </ul> -->
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            06. Clases

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/clases-estructura">a. Estructura</a></li>
            <li><a href="/clases-herencia">b. Herencia</a></li>
            <li><a href="/clases-consola">c. Consola</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            07. Objetos

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/objetos-declaracion">a. Declaracion</a></li>
            <li><a href="/objetos-manipulacion">b. Manipulacion</a></li>
            <li><a href="/objetos-constructor">c. Constructor</a></li>
            <li><a href="/objetos-destructuracion">d. Destructuracion</a></li>
            <li><a href="/objetos-metodos">e. Metodos</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            08. JSON

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/json-declaracion">a. Declaracion</a></li>
            <li><a href="/json-manipulacion">b. Manipulacion</a></li>
            <li><a href="/json-metodos">c. Metodos</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="/try-catch"> 09. Try - Catch </a>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            10. Promesas

            <!-- <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="#">a. uno</a></li>
        </ul> -->
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            11. Strings

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/strings-generales">a. Generales</a></li>

            <li><a href="/strings-slice">b. Slice</a></li>

            <li><a href="/strings-replace">c. Replace</a></li>

            <li><a href="/strings-includes">d. Includes</a></li>

            <li><a href="/strings-index">e. Index</a></li>

            <li><a href="/strings-match">f. Match</a></li>

            <li><a href="/strings-split">g. Split</a></li>

            <li><a href="/strings-search">h. Search</a></li>

            <li><a href="/strings-start-end">i. Start - End</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            12. Numbers

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/numbers-generales">a. Generales</a></li>

            <li><a href="/numbers-math">b. Math</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            12. DOM

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/dom-window">a. Window</a></li>

            <li><a href="/dom-document">b. Document</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            13. LocalStorage

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/localStorage-setItem">a. SetItem</a></li>

            <li><a href="/localStorage-getItem">b. GetItem</a></li>

            <li><a href="/localStorage-removeItem">c. RemoveItem</a></li>

            <li><a href="/localStorage-clear">d. Clear</a></li>

            <li><a href="/localStorage-propiedades">e. Propiedades</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="/new-date"> 14. Date</a>
    </li>

    <li class="li_dropdown">
        <a href="/temporizadores"> 15. Temporizadores</a>
    </li>

    <li class="li_dropdown">
        <a href="#">
            16. RegExp

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/regexp-flags">a. Flags</a></li>

            <li><a href="/regexp-indicadores">b. Indicadores</a></li>

            <li><a href="/regexp-metodos">c. Metodos</a></li>

            <li><a href="/regexp-patrones">c. Patrones</a></li>
        </ul>
    </li>
</ul>
