<!--  
	menu_nav: en esta definimos los items del menu de navegacion
-->
<ul class="menu_nav">
    <!--  
		:li_dropdown: contenedor de 1tag-a y 1 tag-ul, la clase
		:li_dropdown se implementa en javascript
	-->
    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Variables

            <!--          
				tag-svg: en este definimos el icono del del item
			-->
            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <!--  
			:dropdown_menu: en esta definimos el menu de 
			:navegacion interno
		-->
        <ul class="dropdown_menu">
            <li><a href="/variables-var">Var</a></li>

            <li><a href="/variables-let">Let</a></li>

            <li><a href="/variables-const">Const</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Strings

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/strings-generales">Generales</a></li>

            <li><a href="/strings-parse">Parse</a></li>

            <li><a href="/strings-slice">Slice</a></li>

            <li><a href="/strings-replace">Replace</a></li>

            <li><a href="/strings-includes">Includes</a></li>

            <li><a href="/strings-index">Index</a></li>

            <li><a href="/strings-match">Match</a></li>

            <li><a href="/strings-split">Split</a></li>

            <li><a href="/strings-search">Search</a></li>

            <li><a href="/strings-starts-ends">Starts - Ends</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Numbers

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/numbers-generales">Generales</a></li>

            <li><a href="/numbers-math">Math</a></li>
        </ul>
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Condicionales

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/condicionales-if-else">If - Else</a></li>
            <li><a href="/condicionales-switch">Switch </a></li>
            <li><a href="/condicionales-return">Return</a></li>
            <li><a href="/condicionales-operadores">Operadores</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Ciclos

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/ciclos-while">While</a></li>
            <li><a href="/ciclos-do-while">Do - While</a></li>
            <li><a href="/ciclos-for">For</a></li>
            <li><a href="/ciclos-for-of">For - Of</a></li>
            <li><a href="/ciclos-for-in">For - In</a></li>
            <li><a href="/ciclos-forEach">ForEach</a></li>
            <li><a href="/ciclos-sentencias">Sentencias</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Funciones

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/funciones-declaradas">Declaradas</a></li>
            <li><a href="/funciones-expresadas">Expresadas</a></li>
            <li><a href="/funciones-arrow">Arrow</a></li>
            <li><a href="/funciones-callback">Callback</a></li>
            <li><a href="/funciones-return">Return</a></li>
            <!-- <li><a href="/funciones-events">d. Events</a></li> -->
            <li><a href="/funciones-operadores">Operadores</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Arrays

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="#">uno</a></li>
        </ul> -->
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Objetos

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/objetos-declaracion">Declaracion</a></li>
            <li><a href="/objetos-manipulacion">Manipulacion</a></li>
            <li><a href="/objetos-destructuring">Destructuring</a></li>
            <li><a href="/objetos-metodos">Metodos</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Clases

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/clases-declaracion">Declaracion</a></li>
            <li><a href="/clases-manipulacion">Manipulacion</a></li>
            <li><a href="/clases-destructuring">Destructuring</a></li>
            <li><a href="/clases-herencia">Herencia</a></li>
            <li><a href="/clases-metodos">Metodos</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            JSON

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/json-declaracion">Declaracion</a></li>
            <li><a href="/json-manipulacion">Manipulacion</a></li>
            <li><a href="/json-destructuring">Destructuring</a></li>
            <li><a href="/json-metodos">Metodos</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Map

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/map-declaracion">Declaracion</a></li>
            <li><a href="/map-propiedades">Propiedades</a></li>
            <li><a href="/map-metodos">Metodos</a></li>
        </ul>
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="/date"> Date</a>
    </li>

    <li class="li_dropdown">
        <a href="#">
            Temporizadores

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/temporizadores-setTimeout">SetTimeout</a></li>

            <li><a href="/temporizadores-setInterval">SetInterval</a></li>

            <li><a href="/temporizadores-clearInterval">ClearInterval</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#">
            RegExp

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/regexp-metodos">Metodos</a></li>

            <li><a href="/regexp-flags">Flags</a></li>

            <li><a href="/regexp-indicadores">Indicadores</a></li>

            <li><a href="/regexp-patrones">Patrones</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            LocalStorage

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/localStorage-setItem">SetItem</a></li>

            <li><a href="/localStorage-getItem">GetItem</a></li>

            <li><a href="/localStorage-removeItem">RemoveItem</a></li>

            <li><a href="/localStorage-clear">Clear</a></li>

            <li><a href="/localStorage-generales">Generales</a></li>
        </ul>
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Promesas

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Fetch

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul> -->
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Ajax

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul> -->
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            DOM

            <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/dom-window">Window</a></li>

            <li><a href="/dom-document">Document</a></li>

            <li><a href="/dom-selectores">Selectores</a></li>

            <li><a href="/dom-nodeChild">NodeChild</a></li>

            <li><a href="/dom-nodeSiblings">NodeSiblings</a></li>

            <li><a href="/dom-classList">ClassList</a></li>

            <li><a href="/dom-attribute">Attribute</a></li>

            <li><a href="/dom-style">Style</a></li>

            <li><a href="/dom-listeners">Listeners</a></li>

            <li><a href="/dom-event-e">Event - e</a></li>

            <li><a href="/dom-formularios">Formularios</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            BOM

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul> -->
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Websockets

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul> -->
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Webworkets

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul> -->
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            PWA

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul> -->
    </li>

    <hr class="line_nav" />

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            Jest

            <!-- <svg viewBox="0 0 24 24">
                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
            </svg> -->
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/promesas-definicion">Definicion</a></li>
            <li><a href="/promesas-async-await">Async - Await</a></li>
            <li><a href="/promesas-try-catch">Try - Catch</a></li>
            <li><a href="/promesas-throw-error">Throw error</a></li>
        </ul> -->
    </li>
</ul>
