<!--  
	search_box: contenedor de 1 tag-input y 1 tag-a
-->
<div class="search_box">
    <!--  
		tag-input: en esta definimos el buscador
	-->
    <input type="text" name="search" autocomplete="off" placeholder="Buscar" />

    <!--  
		tag-a: contiene 1 tag-svg
	-->
    <a href="#" class="search_btn">
        <!--  
			tag-svg: en esta definimos el icono del buscador
		-->
        <svg viewBox="0 0 24 24">
            <path
                d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
            ></path>
        </svg>
    </a>
</div>

<!--  
	nav_menu: en esta definimos los items del menu de navegacion
-->
<ul class="nav_menu">
    <!--  
		:li_dropdown: contenedor de 1tag-a y 1 tag-ul, la clase
		:li_dropdown se implementa en javascript
	-->
    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            01. Variables

            <!--          
				tag-svg: en este definimos el icono del del item
			-->
            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <!--  
			:dropdown_menu: en esta definimos el menu de 
			:navegacion interno
		-->
        <ul class="dropdown_menu">
            <li><a href="/variable-var">a. Var</a></li>

            <li><a href="/variable-let">b. Let</a></li>

            <li><a href="/variable-const">c. Const</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            02. Funciones

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/funciones-declaradas">a. Declaradas</a></li>
            <li><a href="/funciones-expresadas">b. Expresadas</a></li>
            <li><a href="/funciones-callback">c. Callback</a></li>
            <li><a href="/funciones-events">d. Events</a></li>
            <li><a href="/funciones-rest-operator">e. Rest Operator</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            03. Ciclos

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/ciclos-while">a. While</a></li>
            <li><a href="/ciclos-do-while">b. Do while</a></li>
            <li><a href="/ciclos-for">c. For</a></li>
            <li><a href="/ciclos-for-of">d. For of</a></li>
            <li><a href="/ciclos-for-in">e. For in</a></li>
            <li><a href="/ciclos-forEach">f. ForEach</a></li>
            <li><a href="/ciclos-break-continue">f. Break - Continue</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            04. Clases

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/clases-estructura">a. Estructura</a></li>
            <li><a href="/clases-herencia">b. Herencia</a></li>
            <li><a href="/clases-consola">c. Consola</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            05. Objetos

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/objetos-declaraciones">a. Declaraciones</a></li>
            <li><a href="/objetos-operaciones">b. Operaciones</a></li>
            <li><a href="/objetos-constructor">c. Constructor</a></li>
            <li><a href="/objetos-destructuracion">d. Destructuracion</a></li>
            <li><a href="/objetos-metodos">e. Metodos</a></li>
            <li><a href="/objetos-consola">f. Consola</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            06. Condicionales

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/condicionales-if-else">a. If - Else</a></li>
            <li><a href="/condicionales-switch">b. Switch </a></li>
            <li><a href="/condicionales-operadores">c. Operadores</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            07. Arreglos

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="#">a. uno</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            08. Promesas

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="#">a. uno</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            09. Strings

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/strings-generales">a. Generales</a></li>

            <li><a href="/strings-slice">b. Slice</a></li>

            <li><a href="/strings-replace">c. Replace</a></li>

            <li><a href="/strings-includes">d. Includes</a></li>

            <li><a href="/strings-index">e. Index</a></li>

            <li><a href="/strings-match">f. Match</a></li>

            <li><a href="/strings-split">g. Split</a></li>

            <li><a href="/strings-search">h. Search</a></li>

            <li><a href="/strings-start-end">i. Start - End</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            10. Numbers

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <ul class="dropdown_menu">
            <li><a href="/numbers-generales">a. Generales</a></li>

            <li><a href="/numbers-math">b. Math</a></li>
        </ul>
    </li>

    <li class="li_dropdown">
        <a href="#" data-toggle="dropdown">
            11. DOM

            <svg viewBox="0 0 24 24">
                <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
            </svg>
        </a>

        <!-- <ul class="dropdown_menu">
            <li><a href="/numbers-generales">a. Generales</a></li>

            <li><a href="/numbers-math">b. Math</a></li>
        </ul> -->
    </li>
</ul>
